{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %} KHANTHAMALEE NA-UDOM {% endblock title %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="{% static 'css/w3.css'%}">  -->

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
  <style>
    .city {display:none}

    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height:auto;}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: rgb(253, 248, 247);
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }
    /* width */
    ::-webkit-scrollbar {
    width: 16px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
    background: #00ffff; 
    border-radius: 10px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
    background: #f08080; 
    }

    /* Style tab links */
    .tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
    }

    .tablink:hover {
    background-color: #777;
    }

    /* Style the tab content (and add height:100% for full page content) */
    .tabcontent {
    color: dark;
    display: none;
    padding: 10px 20px;
    height: 100%;
    }
    body {font-family: Arial, Helvetica, sans-serif;}
    * {box-sizing: border-box;}
    
    /* Button used to open the contact form - fixed at the bottom of the page */
    .open-button {
      background-color: #555;
      color: white;
      padding: 16px 20px;
      border: none;
      cursor: pointer;
      opacity: 0.8;
      position: fixed;
      bottom: 23px;
      right: 28px;
      width: 280px;
    }
    
    /* The popup form - hidden by default */
    .form-popup {
      display: none;
      position: fixed;
      bottom: 0;
      right: 15px;
      border: 3px solid #f1f1f1;
      z-index: 9;
    }
    
    /* Add styles to the form container */
    .form-container {
      max-width: 300px;
      padding: 10px;
      background-color: white;
    }
    
    /* Full-width input fields */
    .form-container input[type=text], .form-container input[type=password] {
      width: 100%;
      padding: 15px;
      margin: 5px 0 22px 0;
      border: none;
      background: #f1f1f1;
    }
    
    /* When the inputs get focus, do something */
    .form-container input[type=text]:focus, .form-container input[type=password]:focus {
      background-color: #ddd;
      outline: none;
    }
    
    /* Set a style for the submit/login button */
    .form-container .btn {
      background-color: #06662d;
      color: white;
      padding: 16px 20px;
      border: none;
      cursor: pointer;
      width: 100%;
      margin-bottom:10px;
      opacity: 0.8;
    }
    
    /* Add a red background color to the cancel button */
    .form-container .cancel {
      background-color: rgb(179, 20, 20);
    }
    
    /* Add some hover effects to buttons */
    .form-container .btn:hover, .open-button:hover {
      opacity: 1;
    }

 
  </style>

{% block header %}  {% endblock header %}
</head>
<body>
  
<form method="POST">
  {% csrf_token %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <!-- <button class="btn btn-success navbar-btn"><img src="{% static 'image/malee.png' %}" alt="" width="58" height="40"></button>&nbsp; -->
        {% if user.is_authenticated %}
        <button class="btn btn-danger navbar-btn"><span class=" glyphicon glyphicon-user navbar-btn"></span><a href="{% url 'Profileuser-Page' %}"> Profile</a> </button>
        <button class="btn btn-danger navbar-btn"><span class=" glyphicon glyphicon-plus navbar-btn"></span><a href="{% url 'Crud-ajax' %}"> CreateForm</a> </button>
        <button class="btn btn-danger navbar-btn"><span class=" glyphicon glyphicon-plus navbar-btn"></span><a href="{% url 'FlowBuild-page' %}"> Build</a></button>
        <button class="btn btn-danger navbar-btn"><span class=" glyphicon glyphicon-dashboard navbar-btn"></span><a href="{% url 'Myfrom-page' %}"> Dashboard</a></button>
        
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% block search %}  {% endblock search %}
        <a class="btn btn-danger navbar-btn" href="{% url 'logout' %}"><span class="
          glyphicon glyphicon-log-out navbar-btn"></span> Logout</a>&nbsp;&nbsp;
        {% else %}
        <a class="btn btn-info navbar-btn" class="open-button" href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in navbar-btn"></span> Login </a>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
</form>

<main>
{% block content %}

{% endblock content %}
</main>
<script src="{% static 'js/jquery-3.1.0.min.js' %}"></script>
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

{% block javascript %} {% endblock javascript %}
</body>
</html>
