{% extends 'uppassapp/Base.html' %}
{% load static %}
{% block title %} BUILD {% endblock title %}

{% block header %}

<link rel="stylesheet" href="{% static 'css/bootstrap1.min.css' %}" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
{% endblock header %}

{% block content %}
{% if user.is_authenticated %}
<div class="container-fluid text-left">    
    <div class="row content">
    <div class="col-sm-2 sidenav">
      <ul class="nav nav-pills nav-stacked">
        <center><li class="active "><img src="{% static 'image/malee.png' %}" alt="" width="80" height="60">&nbsp;&nbsp;Khanthamalee</center> </a></li>
      </ul><br>
      {% csrf_token %}
      <h4>Workspace</h4><br>
        <ul class="nav nav-pills nav-stacked">
          {% if user.is_authenticated %}
          <li class="btn btn-success"> <span class=" glyphicon glyphicon-home navbar-btn"></span>&nbsp;&nbsp;&nbsp;{{user.first_name}} {{user.last_name}}&nbsp;&nbsp;&nbsp;({{user.profile.usertype}}) </li>{% endif %}
        </ul><br>
        <ul class="nav nav-pills nav-stacked">
          <li class="active "><a href="{% url 'Crud-ajax' %}"><span class=" glyphicon glyphicon-file navbar-btn"></span> Flows</a></li>
          <li class="active"><a href="#"><span class=" glyphicon glyphicon-usd navbar-btn"></span> Billing</a></li>
          <li class="active"><a href="#"><span class=" glyphicon glyphicon-user navbar-btn"></span> Manage user</a></li>
        </ul><br>
      <h4>Workspace Credits</h4><br>

      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#"><span class=" glyphicon glyphicon-bitcoin navbar-btn"></span>   Point</a></li>
        <li class="active"><a href="#"><span class=" glyphicon glyphicon-credit-card navbar-btn"></span> Buy Credits</a></li>
      </ul>
    </div>
  
    <div class="col-sm-3 text-left" > <br>
      <a class="btn btn-primary"><h4><strong>&nbsp;&nbsp;&nbsp;Create Your form&nbsp;&nbsp;&nbsp;</strong></h4></a><br><br>
        <!-- <div class="container"> -->
          <!--  <div class="dropdown .bg-info"> --> 
        <form id="addUser" action="">
            <ul class="nav nav-pills nav-stacked" >
                  <div class="form-group">
                    <input class="form-control input-lg" type="text" name="name1" value="{{user.username}}" required>
                  </div>
                  <div class="form-group">
                    <input class="form-control input-lg" type="text" name="address1"  placeholder="กรอกชื่อแบบฟอร์มที่คุณต้องการสร้าง" required>
                  </div>
                  <center>
                  <button class="btn btn-info form-control btn-block " type="submit">Create</button>
                </center>
            </ul><br>
              <!-- <center><button type="submit" class="btn btn-info"onclick="appendText()" name="createflow">Create</button></center>
            </ul><br> -->
        </form>  



        <!-- <div class="card text-white bg-primary mb-3"><center>
            <ul class="nav nav-pills nav-stacked">
            <li class="active">
              <a class="text-left"href="#"><span class=" glyphicon glyphicon-th navbar-btn"></span>&nbsp;&nbsp; Your flow. &nbsp;&nbsp;<img src="{% static 'image/edit.png' %}" alt=""class="btn btn-primary " data-toggle="modal" data-target="#myModal02"></a>
                

              <div class="card text-center">
                <ul class="list-group list-group-flush" >
                  <li class="list-group-item list-group-item-info"id="element2" ></li>
                        <script>
                            function appendText() {
                            var dd = $("#flowname").val()
                            var txt2 = $("<h5></h5><hr>").text(dd);  // Create text with jQuery
                            $("#element2").append(txt2);   // Append new elements
                            }
                        </script>
                </ul>
              </div>
            </ul>
        </div> -->
    </div>
    <div class="col-sm-7 sidenav">
        <a class="btn btn-primary"><h4><strong>&nbsp;&nbsp;&nbsp;Your form&nbsp;&nbsp;&nbsp;</strong></h4></a><br><br>
        <div class="card text-white bg-secondary mb-5"><center>
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><br>
                  <table id="userTable" class="table table-striped">
                    <tr>
                      <th class="text-left">Username</th>
                      <th class="text-left">ชื่อแบบฟอร์ม</th>
                      <th class="text-left">คัดลอกลิงค์เพื่อส่งให้ลูกค้าได้เลย</th>
                    </tr>
                    {% if Myform %}
                    {% for user in Myform %}
                    <tr id="user-{{user.id}}">
                        <td class="userName userData text-left" name="name">{{user.user}}</td>
                        <td class="userAddress userData text-left" name="address"><a href="{% url 'FlowBuild-page' %}">{{user.nameflow}}</a></td>
                        <td class="userAge userData text-left" name="age"><a href="http://localhost:8000/send-form-to-customer/{{user.id}}/{{user.token}}">http://localhost:8000/send-form-to-customer/{{user.id}}/{{user.token}}</a></td>
                        <td align="center" class="col-sm-2">
                            <button class="btn btn-success form-control" onClick="editUser({{user.id}})" data-toggle="modal" data-target="#myModal">EDIT</button>
                        </td>
                        
                        <td align="center" class="col-sm-2">
                            <button class="btn btn-danger form-control" onClick="deleteUser({{user.id}})">DELETE</button>
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                      No Users
                    {% endif %}
                  </table>
                </li>
            </ul><br>
            </center>
        </div>
    </div>    
</div>

<!-- Model pop up -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
       <center><h4 class="modal-title" id="myModalLabel">Update User</h4></center>
      </div>
      <form id="updateUser" action="">
      <div class="modal-body">
          <input class="form-control" id="form-id" type="hidden" name="formId"/><br>
          <label for="name">ชื่อ user</label>
          <input class="form-control" id="form-name" type="text" name="formName"/><br>
          <label for="address">ชื่อแบบฟอร์ม</label>
          <input class="form-control" id="form-address" type="text" name="formAddress"/><br>
          <label for="title">ลิงค์สำหรับกรอกแบบฟอร์ม</label>
          <input class="form-control" id="form-age" type="text" name="formAge" />
      </div>
      <div class="modal-footer">
          <button onclick="javascript:refresh();" type="submit" class="btn btn-primary" >Save changes</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
      </form>
    </div>
  </div>
</div>



{% endif %}
{% endblock content %}


{% block javascript %}
<script>

function refresh(){
        window.location.reload();
    }
  // Create Django Ajax Call
  //addUser บรรทัดที่ 16 ตารางด้านซ้าย หมายถึงการรับ Opject มาจากตัวนั้น หลังกด Submit ที่ตาราง
  $("form#addUser").submit(function() {
      var nameInput = $('input[name="name1"]').val().trim();
      var addressInput = $('input[name="address1"]').val().trim();
      if (nameInput && addressInput) {
          // Create Ajax Call
          $.ajax({
              url: '{% url "crud_ajax_create" %}',
              data: {
                  'name1': nameInput,
                  'address1': addressInput,
              },
              dataType: 'json',
              success: function (data) {
                  if (data.user) {
                    appendToUsrTable(data.user);
                  }
              }
          });
        } else {
          alert("All fields must have a valid value.");
      }
      $('form#addUser').trigger("reset");
      //addUser บรรทัดที่ 16 ตารางด้านซ้าย
      return false;
  });
  function appendToUsrTable(user) {
    $("#userTable > tbody:last-child").append(`
          <tr id="user-${user.id}">
            '<td class="userName" name="name">${user.name1}</td>
              '<td class="userAddress" name="address">${user.address1}</td>
              '<td class="userAddress" name="address">${user.token}</td>
              '<td align="center">
                  <button class="btn btn-success form-control" onClick="editUser(${user.id})" data-toggle="modal" data-target="#myModal")">EDIT</button>
              </td>
              <td align="center">
                  <button class="btn btn-danger form-control" onClick="deleteUser(${user.id})">DELETE</button>
              </td>
          </tr>
      `);
  }
  
  $("form#updateUser").submit(function() {
    var idInput = $('input[name="formId"]').val().trim();
    var nameInput = $('input[name="formName"]').val().trim();
    var addressInput = $('input[name="formAddress"]').val().trim();
    var ageInput = $('input[name="formAge"]').val().trim();
    if (nameInput && addressInput && ageInput) {
        // Create Ajax Call
        $.ajax({
            url: '{% url "crud_ajax_update" %}',
            data: {
                'id': idInput,
                'name': nameInput,
                'address': addressInput,
                'age': ageInput
            },
            dataType: 'json',
            success: function (data) {
                if (data.user) {
                  updateToUserTabel(data.user);
                }
            }
        });
       } else {
        alert("All fields must have a valid value.");
    }
    $('form#updateUser').trigger("reset");
    $('#myModal').modal('hide');
    return false;
});

// Update Django Ajax Call
function editUser(id) {
  if (id) {
    tr_id = "#user-" + id;
    name = $(tr_id).find(".userName").text();
    address = $(tr_id).find(".userAddress").text();
    age = $(tr_id).find(".userAge").text();
    $('#form-id').val(id);
    $('#form-name').val(name);
    $('#form-address').val(address);
    $('#form-age').val(age);
  }
}
function updateToUserTabel(user){
    $("#userTable #user-" + user.id).children(".userData").each(function() {
        var attr = $(this).attr("name");
        if (attr == "name") {
          $(this).text(user.name);
        } else if (attr == "address") {
          $(this).text(user.address);
        } else {
          $(this).text(user.age);
        }
      });
}

// Delete Django Ajax Call
function deleteUser(id) {
  var action = confirm("คุณแน่ใจใช่หรือไม่ ที่ต้องการลบข้อมูล?");
  if (action != false) {
    $.ajax({
        url: '{% url "crud_ajax_delete" %}',
        data: {     
            'id': id,
        },
        dataType: 'json',
        success: function (data) {
            if (data.deleted) {
              $("#userTable #user-" + id).remove();
            }
        }
    });
  }
}
  </script>
{% endblock javascript %}   

