{% extends 'uppassapp/Base.html' %}
{% load static %}
{% block title %} BUILD {% endblock title %}
{% block content %}
{% if user.is_authenticated %} 
<div class="container-fluid text-left">    
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <ul class="nav nav-pills nav-stacked">
        <center><li class="active "><img src="{% static 'image/malee.png' %}" alt="" width="80" height="60">&nbsp;&nbsp;Khanthamalee</center> </a></li>
      </ul><br>
      <h4>Workspace</h4><br>
        <ul class="nav nav-pills nav-stacked">
          {% if user.is_authenticated %}
          <li class="btn btn-success"> <span class=" glyphicon glyphicon-home navbar-btn"></span>&nbsp;&nbsp;&nbsp;{{user.first_name}} {{user.last_name}}&nbsp;&nbsp;&nbsp;({{user.profile.usertype}}) </li>{% endif %}
        </ul><br>
        <ul class="nav nav-pills nav-stacked">
          <li class="active "><a href="{% url 'Crud-ajax' %}"><span class=" glyphicon glyphicon-file navbar-btn"></span> Flows</a></li>
          <li class="active"><a href="#"><span class=" glyphicon glyphicon-usd navbar-btn"></span> Billing</a></li>
          <li class="active"><a href="#"><span class=" glyphicon glyphicon-user navbar-btn"></span> Manage user</a></li>
        </ul><br>
      <h4>Workspace Credits</h4><br>

      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#"><span class=" glyphicon glyphicon-bitcoin navbar-btn"></span>   Point</a></li>
        <li class="active"><a href="#"><span class=" glyphicon glyphicon-credit-card navbar-btn"></span> Buy Credits</a></li>
      </ul>
    </div>
  
    <div class="col-sm-3 text-left"> 
      <h3><strong>Builder</strong></h3><br>
        <!-- <div class="container"> -->
          <!--  <div class="dropdown .bg-info"> --> 
            <ul class="nav nav-pills nav-stacked">
              <a><li class="active btn btn-primary" data-toggle="modal" data-target="#myModal01"><img src="{% static 'image/home.png' %}" alt="">&nbsp;&nbsp;Introduction Page&nbsp;&nbsp;&nbsp;&nbsp;<img src="{% static 'image/edit.png' %}" alt=""></li></a>
            </ul>

        
        <br>
        <a class="me-3 py-2 text-decoration-none btn btn-outline-primary" href="#">+ Add Step</a><br>

       

        <div class="card text-white bg-primary mb-3"><center>
          <ul class="nav nav-pills nav-stacked">
            <li class="active">
              <a class="text-left"href="#"><span class=" glyphicon glyphicon-th navbar-btn"></span> Step 1 : Header &nbsp;&nbsp;<img src="{% static 'image/edit.png' %}" alt=""class="btn btn-primary " data-toggle="modal" data-target="#myModal02"></a>
                

              <div class="card text-center">
                <ul class="list-group list-group-flush" >
                  <li class="list-group-item list-group-item-info"id="element2" ></li>
                  
                </ul>
              </div>
              <script>

                function myFunction() {
                  $("#element2").append("Full Name");
                }
                
                //  $("#ConfirmFullNameBasic1").click(function(){
                //     console.log("Full Name");
                //     $("#element2").append("Full Name");
                //    //alert("Full Name");
                //     // $("#element2").append("<li>&nbsp;&nbsp;Full Name</li>");
                //   });


                $(document).ready(function(){
                  $("#ConfirmFullNameBasic").click(function(){
                     console.log("Full Name");
                     $("#element2").append("Full Name");
                    alert("Full Name");
                      $("#element2").append("<li>&nbsp;&nbsp;Full Name</li>");
                   });
                });
                </script>
              
              <a class="text-left" href="#"><button class="btn btn-info" data-toggle="modal" data-target="#myModal" >+Add Element2</button></a>
              <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="text-danger modal-title"><strong>Add from Element </strong></h4>
                    </div>
                    <div class="modal-body col-sm-4 text-left ">
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item list-group-item-danger"><img src="{% static 'image/name.png' %}" alt="">&nbsp;&nbsp;<a id="myBtn2">Full Name</a></li><br>
                        <li class="list-group-item list-group-item-danger"><img src="{% static 'image/gender.png' %}" alt="">&nbsp;&nbsp;<a id="myBtn3">Gender</a></li><br>
                        <li class="list-group-item list-group-item-danger"><img src="{% static 'image/phone.png' %}" alt="">&nbsp;&nbsp;<a id="myBtn4">Phone</a></li><br>
                        <li class="list-group-item list-group-item-danger"><img src="{% static 'image/email.png' %}" alt="">&nbsp;&nbsp;<a id="myBtn5">E-mail</a></li><br>
                        <li class="list-group-item list-group-item-danger"><img src="{% static 'image/address.png' %}" alt="">&nbsp;&nbsp;<a id="myBtn6">Address</a></li><br>
                      </ul>
                    </div>

                    <div class="modal-body col-sm-5 text-left ">
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item list-group-item-danger"><img src="{% static 'image/Text Paragraph.png' %}" alt="">&nbsp;&nbsp;<a id="myBtn7">Text Paragraph</a></li><br>
                        <li class="list-group-item list-group-item-danger"><img src="{% static 'image/Short&LongAnser.png' %}" alt="">&nbsp;&nbsp;<a id="myBtn8">Short&LongAnswer</a></li><br>
                        <li class="list-group-item list-group-item-danger"><img src="{% static 'image/Signature.png' %}" alt="">&nbsp;&nbsp;<a id="myBtn9">Signature</a></li><br>
                        <li class="list-group-item list-group-item-danger"><img src="{% static 'image/Dropdown.png' %}" alt="">&nbsp;&nbsp;<a id="myBtn10">Dropdown</a></li><br>
                        <li class="list-group-item list-group-item-danger"><img src="{% static 'image/File Upload.png' %}" alt="">&nbsp;&nbsp;<a id="myBtn11">File Upload</a></li><br>
                      </ul>
                    </div>

                    <div class="modal-body col-sm-3 text-left ">
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item list-group-item-danger"><img src="{% static 'image/image.png' %}" alt="">&nbsp;&nbsp;<a id="myBtn12">Image</a></li><br>
                        <li class="list-group-item list-group-item-danger"><img src="{% static 'image/Choice.png' %}" alt="">&nbsp;&nbsp;<a id="myBtn13">Choice</a></li><br>
                        <li class="list-group-item list-group-item-danger"><img src="{% static 'image/date.png' %}" alt="">&nbsp;&nbsp;<a id="myBtn14">Date</a></li><br>
                        <li class="list-group-item list-group-item-danger"><img src="{% static 'image/Divider.png' %}" alt="">&nbsp;&nbsp;<a id="myBtn15">Divider</a></li><br>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul><br>
        </center>
        </div>
        <br>
        <a class="me-3 py-2 text-decoration-none btn btn-outline-primary" href="#">+ Add Step 3</a><br>
        
        
        <ul class="nav nav-pills nav-stacked">
          <li class="active"><a href="#"><span class=" glyphicon glyphicon-th navbar-btn"></span> Liveness Verification&nbsp;&nbsp;<img src="{% static 'image/trash.png' %}"><img src="{% static 'image/edit.png' %}" alt=""></a></li>
          <a class="me-3 py-2 text-decoration-none btn btn-outline-primary" href="#">+ Add Step 4</a>

          <li class="active"><a href="#"><span class=" glyphicon glyphicon-th navbar-btn"></span> ID Ducument Verification&nbsp;&nbsp;<img src="{% static 'image/trash.png' %}"><img src="{% static 'image/edit.png' %}" alt=""></a></li>
          <a class="me-3 py-2 text-decoration-none btn btn-outline-primary" href="#">+ Add Step 5</a>

          <li class="active"><a href="#"><span class=" glyphicon glyphicon-th navbar-btn"></span> Complete Submission&nbsp;&nbsp;<img src="{% static 'image/edit.png' %}" alt=""></a></li>
        </ul><br><br><br><br>
    </div>    
 
    <div class="col-sm-7 sidenav">
      <h3><strong>Preview</strong></h3><br>
      <div class="card text-white bg-primary mb-5"><center>
        <ul class="nav nav-pills nav-stacked">
          <li class="active"><br>
            <div class="card text-center">
              <ul class="list-group list-group-flush">
                <li class="list-group-item list-group-item-info">Element 1 show</li>
                <li class="list-group-item list-group-item-info">Element 2 show</li>
                <li class="list-group-item list-group-item-info">Element 3 show</li>
              </ul>
            </div>
            <a class="text-right" href="{% url 'Crud-ajax' %}"><button class="btn btn-info">Continues</button></a>
          </li>
        </ul><br>
      </center>
    </div>
  </div>
</div>


<!-- ทำ popup Detail Element -->
  <!-- 1.Modal Full name -->
  <div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog "  role="document">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"><strong>Full Name</strong></h4><hr>


              <!-- Modal body-->
            <div class="model-body">
              <div class="container">
                <div class="row">
                  <div class="col-md-12">            

                            <a href="#basic" class="active btn btn-danger" data-toggle="tab"><h5><strong> Basic </strong></h5></a>
                            <a href="#advance" class="active btn btn-danger" data-toggle="tab"><h5><strong> Advance </strong></h5></a>
                        
                        <div class="tab-content">
                            <div class="tab-pane active" id="basic">
                              <form method="POST">
                                {% csrf_token %}
                                <div class="col-sm-10">
                                  <div class="form-check">
                                    <br>
                                    <input type="checkbox" aria-label="Checkbox for following text input">
                                    <label class="form-check-label" for="exampleRadios1">
                                      <h4><strong>&nbsp;&nbsp;Required</strong></h4>
                                    </label>
                                    <p for="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;User will not be able to proceed without answering this question.</p>
                                  </div>
                                        <p for="title" class=""><font color="#c0c0c0">__________________________________________________________________</font></p>
                                                
                                    <div class="input-group">
                                      <div class="input-group-prepend">
                                        <div class="input-group-text">
                                          <input type="checkbox" aria-label="Checkbox for following text input">
                                          <label for="firstname"><h4><strong>&nbsp;&nbsp;First Name</strong></h4></label><br>
                                          <label for="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Question Label</label>
                                          <input type="text" class="form-control input-lg" id="fullname" name="fullname"value="First Name">
                                        </div>
                                      </div>  
                                    </div>
                                    <div class="input-group">
                                      <div class="input-group-prepend">
                                        <div class="input-group-text">
                                          <input type="checkbox" aria-label="Checkbox for following text input">
                                          <label for="title"><h4><strong>&nbsp;&nbsp;Middle Name</strong></h4></label><br>
                                          <label for="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Question Label</label>
                                          <input type="text" class="form-control input-lg" id="middlename" name="middlename" value="Middle Name">
                                        </div>
                                      </div>  
                                    </div>
                                    <br>
                                    <div class="input-group">
                                      <div class="input-group-prepend">
                                        <div class="input-group-text">
                                          <input type="checkbox" aria-label="Checkbox for following text input">
                                          <label for="title"><h4><strong>&nbsp;&nbsp;Last Name</strong></h4></label><br>
                                          <label for="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Question Label</label>
                                          <input type="text" class="form-control input-lg" id="lastname" name="lastname" value="Last Name">
                                        </div>
                                      </div>  
                                    </div>
                                    <br>
                                        <p for="title" class=""><font color="#c0c0c0">__________________________________________________________________</font></p>
                                    <div class="input-group">
                                      <div class="input-group-prepend">
                                        <div class="input-group-text">
                                          <input type="checkbox" aria-label="Checkbox for following text input">
                                          <label for="title"><h4><strong>&nbsp;&nbsp;Prefix</strong></h4></label><br>
                                          <label for="title">&nbsp;&nbsp;&nbsp;&nbsp;Question Label</label>
                                          <label >&nbsp;&nbsp;</label>
                                          <input type="text" class="form-control input-lg" id="prefix" name="prefix" value="Prefix"><br><br><br><br>
                                          <label >&nbsp;&nbsp;</label>
                                          <label for="title">&nbsp;&nbsp;Question Label</label>
                                          <label >&nbsp;&nbsp;</label>
                                          <input type="text" class="form-control input-lg" id="mr" name="mr"value="Mr."><br>
                                          <label >&nbsp;&nbsp;</label>
                                          <input type="text" class="form-control input-lg" id="mrs" name="mrs" value="Mrs."><br>
                                          <label >&nbsp;&nbsp;</label>
                                          <input type="text" class="form-control input-lg" id="miss" name="miss" value="Miss."><br>
                                          <label >&nbsp;&nbsp;</label><br>
                                          <button type="submit" class="btn btn-success" name = "AddPrefixFullNameBasic"><h5>+Add more option</h5></button>
                                        </div>
                                      </div>  
                                    </div>
                                    <br>
                                        <p for="title" class=""><font color="#c0c0c0">__________________________________________________________________</font></p><br>
                                    <center><button type="submit" class="btn btn-primary" id = "ConfirmFullNameBasic1" name = "ConfirmFullNameBasic" onclick="myFunction()"><h5><strong>Confirm</strong></h5></button></center><br><br>
                                </div>
                              </form>
                            </div>
                          <div class="tab-pane" id="advance">
                            <form method="POST">
                              {% csrf_token %}
                              <div class="col-sm-10">
                                  <div class="input-group">
                                    <div class="input-group-prepend">
                                      <div class="input-group-text">
                                        <br>
                                        <input type="checkbox" aria-label="Checkbox for following text input">
                                        <label for="fullname"><h4><strong>&nbsp;&nbsp;Placeholder Text</strong></h4></label><br>
                                        <label for="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;First Name</label>
                                        <input type="text" class="form-control input-lg" id="advfullname" name="advfullname"value=" Your First Name"><br><br><br><br>
                                        <label for="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Middle Name</label>
                                        <input type="text" class="form-control input-lg" id="advmiddlename" name="advmiddlename" value="Your Middle Name">
                                        <br><br><br><br>
                                        <label for="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Last Name</label>
                                        <input type="text" class="form-control input-lg" id="advlastname" name="advlastname" value="Your Last Name">
                                      </div>
                                    </div>  
                                  </div>
                                  <br>
                                      <p for="title" class=""><font color="#c0c0c0">__________________________________________________________________</font></p>
                                  <div class="input-group">
                                    <div class="input-group-prepend">
                                      <div class="input-group-text">
                                        <input type="checkbox" aria-label="Checkbox for following text input">
                                        <label for="fullname"><h4><strong>&nbsp;&nbsp;Custom Error Message</strong></h4></label><br>
                                        <label for="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;First Name</label>
                                        <input type="text" class="form-control input-lg" id="fullname" name="fullname"value=" Please Enter Your First Name"><br><br><br><br>
                                        <label for="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Middle Name</label>
                                        <input type="text" class="form-control input-lg" id="middlename" name="middlename" value="Please Enter Your Middle Name">
                                        <br><br><br><br>
                                        <label for="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Last Name</label>
                                        <input type="text" class="form-control input-lg" id="lastname" name="lastname" value="Please Enter Your Last Name">
                                      </div>
                                    </div>  
                                  </div>
                                  <br>
                                      <p for="title" class=""><font color="#c0c0c0">__________________________________________________________________</font></p><br>
                                  <center><button type="submit" class="btn btn-primary" name = "ConfirmFullNameAdvanve"><h5><strong>Confirm</strong></h5></button></center><br><br>
                              </div>
                      </form>
                          </div>
                        </div>
                  </div>
                </div>
              </div>
            </div>

        </div>
      </div>

    </div>
  </div>

 
  <!-- 2. Modal Gender -->
  <div class="modal fade" id="myModal3" role="dialog">
    <div class="modal-dialog">
      
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><strong>Gender</strong></h4><hr>

            <!-- Modal body-->
          <div class="model-body">
            <a class="btn btn-danger" name = "Basicgender"class="tablink" onclick="openPage('basicgender')" id="defaultOpen"><h5><strong>&nbsp;&nbsp;Basic&nbsp;&nbsp;</strong></h5></a>
            <!-- id="defaultOpen" ใส่เพื่อให้หน้าต่างนี้เปิดเริ่มแรก -->
            <a class="btn btn-danger" name = "Advancegender" class="tablink" onclick="openPage('advancegender')"><h5><strong>&nbsp;&nbsp;Advance&nbsp;&nbsp;</strong></h5></a>
          </div>
      
          <div id="basicgender" class="container tabcontent model-body">
            <form method="POST">
              {% csrf_token %}
              <div class="col-sm-10">
                <div class="form-check">
                  <br>
                  <input type="checkbox" aria-label="Checkbox for following text input">
                  <label class="form-check-label" for="exampleRadios1">
                    <h4><strong>&nbsp;&nbsp;Required</strong></h4>
                  </label>
                  <p for="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;User will not be able to proceed without answering this question.</p>
                </div>
                      <p for="title" class=""><font color="#c0c0c0">__________________________________________________________________</font></p>
                              
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <label for="firstname"><h4><strong>&nbsp;&nbsp;Question Text</strong></h4></label>
                        <input type="text" class="form-control input-lg" id="gender" name="gender"value="Gender">
                      </div>
                    </div>  
                  </div>
                  <br>
                      <p for="title" class=""><font color="#c0c0c0">__________________________________________________________________</font></p>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <label for="title"><h4><strong>&nbsp;&nbsp;Question Text</strong></h4></label>
                      </div>
                    </div>  
                  </div>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <div class="col-sm-10">
                          <input type="text" class="form-control input-lg" id="gender1" name="gender1" value="Male"><br><label >&nbsp;&nbsp;</label>
                          <input type="text" class="form-control input-lg" id="gender2" name="gender2" value="Female"><label >&nbsp;&nbsp;</label>
                        </div>
                        <div class="col-sm-1">
                          <br><br><br><br>
                          <img src="{% static 'image/trash.png' %}">
                        </div>
                      </div>
                    </div>  
                  </div> <br>              
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                        <button type="submit" class="btn btn-success" name = "AddPrefixFullNameBasic"><h5>+Add more option</h5></button>
                      </div>
                    </div>  
                  </div>
                  <br>
                      <p for="title" class=""><font color="#c0c0c0">__________________________________________________________________</font></p><br>
                  <center><button type="submit" class="btn btn-primary" name = "ConfirmFullNameBasic"><h5><strong>Confirm</strong></h5></button></center><br><br>
              </div>
            </form>
          </div>

          <div id="advancegender" class="container tabcontent">
            <form method="POST">
              {% csrf_token %}
              <div class="col-sm-10">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <br>
                        <input type="checkbox" aria-label="Checkbox for following text input">
                        <label for="title"><h4><strong>&nbsp;&nbsp;Custom Error Message</strong></h4></label>
                        <label >&nbsp;&nbsp;</label>
                        <input type="text" class="form-control input-lg" id="advgender" name="advgender">
                      </div>
                    </div>  
                  </div>
                  <br>
                      <p for="title" class=""><font color="#c0c0c0">__________________________________________________________________</font></p><br>
                  <center><button type="submit" class="btn btn-primary" name = "ConfirmGenderAdvanve"><h5><strong>Confirm</strong></h5></button></center><br><br>
              </div>
            </form>
          </div>
        <!-- ทำให้ pop up fullname โชว์ basic และ advance ด้วย js. -->
        <script src="{% static 'js/openpopupbasicadvance.js' %}"></script>
      </div>
    </div>
    </div>
  </div>
</div>

  <!-- 3. Modal phone -->
  <div class="modal fade" id="myModal4" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><strong>Phone</strong></h4><hr>

          <div class="model-body">
            <div class="container">
              <div class="row">
                <div class="col-md-12">            

                          <a href="#basicphone" class="active btn btn-danger" data-toggle="tab"><h5><strong> Basic </strong></h5></a>
                          <a href="#advancephone" class="active btn btn-danger" data-toggle="tab"><h5><strong> Advance </strong></h5></a>
                      
                      <div class="tab-content">
                        <div class="tab-pane active" id="basicphone">
                            <form method="POST">
                              {% csrf_token %}
                              <div class="col-sm-10">
                                <div class="form-check">
                                  <br>
                                  <input type="checkbox" aria-label="Checkbox for following text input">
                                  <label class="form-check-label" for="exampleRadios1">
                                    <h4><strong>&nbsp;&nbsp;Required</strong></h4>
                                  </label>
                                  <p for="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;User will not be able to proceed without answering this question.</p> 
                                </div>
                                      <p for="title" class=""><font color="#c0c0c0">__________________________________________________________________</font></p>        
                                  <div class="input-group">
                                    <div class="input-group-prepend">
                                      <div class="input-group-text">
                                        <label for="firstname"><h4><strong>Question Text</strong></h4></label>
                                        <input type="text" class="form-control input-lg" id="phone" name="phone"value="Phone Number">
                                      </div>
                                    </div>  
                                  </div>
                                  <br>
                                      <p for="title" class=""><font color="#c0c0c0">__________________________________________________________________</font></p>
                                  <div class="input-group">
                                    <div class="input-group-prepend">
                                      <div class="input-group-text">
                                        <label for="title"><h4><strong>Answer Format</strong></strong></h4></label>
                                      </div>
                                    </div>  
                                  </div>
                                  <div class="input-group">
                                    <div class="input-group-prepend">
                                      <div class="input-group-text">
                                        <label for="title"><h5><strong>&nbsp;&nbsp;Min Gigits</strong></h5></label><br>
                                        <input type="number" autocomplete="on" min="8" max="15" placeholder="Min Digits" class="form-control input-lg" ><br>
                                        <label for="title"><h5><strong>&nbsp;&nbsp;Max Gigits</strong></h5></label><br>
                                        <input type="number" autocomplete="on" min="8" max="15" placeholder="Max Digits" class="form-control input-lg">
                                      </div>
                                    </div>  
                                  </div> <br>              
                                    <div class="input-group">
                                      <div class="input-group-prepend">
                                        <div class="input-group-text">
                                          <p for="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Restrict users to match the format you specify. Use "0" to indicate the digits in<br> your format.</p>
                                      </div>
                                    </div>  
                                  </div> 
                                      <p for="title" class=""><font color="#c0c0c0">__________________________________________________________________</font></p>
                                  <div class="input-group">
                                    <div class="input-group-prepend">
                                      <div class="input-group-text">
                                        <input type="checkbox" aria-label="Checkbox for following text input">
                                        <label class="form-check-label" for="exampleRadios1"><h4><strong>&nbsp;&nbsp;&nbsp;Show Phone Icon</strong></h4></label>
                                        </div>
                                      </div>  
                                    </div>
                                    <p for="title" class=""><font color="#c0c0c0">__________________________________________________________________</font></p><br>
                                  <center><button type="submit" class="btn btn-primary" name = "ConfirmPhoneBasic"><h5><strong>Confirm</strong></h5></button></center><br><br>
                              </div>
                            </form>
                        </div>
                        <div class="tab-pane" id="advancephone">
                          <form method="POST">
                            {% csrf_token %}
                            <div class="col-sm-10">
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <div class="input-group-text">
                                      <br>
                                      <input type="checkbox" aria-label="Checkbox for following text input">
                                      <label for="fullname"><h4><strong>&nbsp;&nbsp;Placeholder Text</strong></h4></label>
                                      <label >&nbsp;&nbsp;</label>
                                      <input type="text" class="form-control input-lg" id="lastname" name="lastname" value="Phone Number">
                                    </div>
                                  </div>  
                                </div>
                                <br>
                                    <p for="title" class=""><font color="#c0c0c0">__________________________________________________________________</font></p>
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <div class="input-group-text">
                                      <input type="checkbox" aria-label="Checkbox for following text input">
                                      <label for="fullname"><h4><strong>&nbsp;&nbsp;Custom Error Message</strong></h4></label>
                                      <label >&nbsp;&nbsp;</label>
                                      <input type="text" class="form-control input-lg" id="lastname" name="lastname">
                                    </div>
                                  </div>  
                                </div>
                                <br>
                                    <p for="title" class=""><font color="#c0c0c0">__________________________________________________________________</font></p><br>
                                <center><button type="submit" class="btn btn-primary" name = "ConfirmFullNameAdvanve"><h5><strong>Confirm</strong></h5></button></center><br><br>
                            </div>
                          </form>
                        </div>
                      </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

   <!-- 4. Modal E-mail -->
   <div class="modal fade" id="myModal5" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"><strong>E-mail</strong></h4><hr>
  

            <div class="model-body">
              <div class="container">
                <div class="row">
                  <div class="col-md-11">            
  
                            <a href="#basicemail" class="active btn btn-danger" data-toggle="tab"><h5><strong> Basic </strong></h5></a>
                            <a href="#advanceemail" class="active btn btn-danger" data-toggle="tab"><h5><strong> Advance </strong></h5></a>
                        
                        <div class="tab-content">
                          <div class="tab-pane active" id="basicemail">
                            <form method="POST">
                            {% csrf_token %}
                            <div class="col-sm-11">
                              <div class="form-check">
                                <br>
                                <input type="checkbox" aria-label="Checkbox for following text input">
                                <label class="form-check-label" for="exampleRadios1">
                                  <h4><strong>&nbsp;&nbsp;Required</strong></h4>
                                </label>
                                <p for="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;User will not be able to proceed without answering this question.</p> 
                              </div>
                                  <p for="title" class=""><font color="#c0c0c0">__________________________________________________________________</font></p>
                                            
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <div class="input-group-text">
                                      <label for="firstname"><h4><strong>Question Text</strong></h4></label>
                                      <input type="text" class="form-control input-lg" id="phone" name="phone"value="E-mail">
                                    </div>
                                  </div>  
                                </div>
                                <br>
                                  <p for="title" class=""><font color="#c0c0c0">__________________________________________________________________</font></p>
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <div class="input-group-text">
                                      <input type="checkbox" aria-label="Checkbox for following text input">
                                      <label class="form-check-label" for="exampleRadios1"><h4><strong>&nbsp;&nbsp;Confrimation Text Box</strong></h4></label>
                                      <input type="text" class="form-control input-lg" id="phone" name="phone"value="Confirm Your E-mail">
                                    </div>
                                  </div>  
                                </div><br>
                                <p for="title" class=""><font color="#c0c0c0">__________________________________________________________________</font></p>
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <div class="input-group-text">
                                      <input type="checkbox" aria-label="Checkbox for following text input">
                                      <label class="form-check-label" for="exampleRadios1"><h4><strong>&nbsp;&nbsp;&nbsp;Show Email Icon</strong></h4></label>
                                      </div>
                                    </div>  
                                  </div>
                                  <p for="title" class=""><font color="#c0c0c0">__________________________________________________________________</font></p><br>
                                <center><button type="submit" class="btn btn-primary" name = "ConfirmEmailBasic"><h5><strong>Confirm</strong></h5></button></center><br><br>
                            </div>
                          </form>
                          </div>
                          <div class="tab-pane" id="advanceemail">
                            <form method="POST">
                              {% csrf_token %}
                              <div class="col-sm-10">
                                  <div class="input-group">
                                    <div class="input-group-prepend">
                                      <div class="input-group-text">
                                        <br>
                                        <input type="checkbox" aria-label="Checkbox for following text input">
                                        <label for="fullname"><h4><strong>&nbsp;&nbsp;Placeholder Text</strong></h4></label>
                                        <label >&nbsp;&nbsp;</label>
                                        <input type="text" class="form-control input-lg" id="lastname" name="lastname" value="example@email.com">
                                      </div>
                                    </div>  
                                  </div>
                                  <br>
                                    <p for="title" class=""><font color="#c0c0c0">__________________________________________________________________</font></p>
                                  <div class="input-group">
                                    <div class="input-group-prepend">
                                      <div class="input-group-text">
                                        <input type="checkbox" aria-label="Checkbox for following text input">
                                        <label for="fullname"><h4><strong>&nbsp;&nbsp;Custom Error Message</strong></h4></label>
                                        <label >&nbsp;&nbsp;</label>
                                        <input type="text" class="form-control input-lg" id="lastname" name="lastname" value="Please provide your e-mail">
                                      </div>
                                    </div>  
                                  </div>
                                  <br>
                                    <p for="title" class=""><font color="#c0c0c0">__________________________________________________________________</font></p>
                                  <center><button type="submit" class="btn btn-primary" name = "ConfirmFullNameAdvanve"><h5><strong>Confirm</strong></h5></button></center><br><br>
                              </div>
                            </form>
                          </div>
                        </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 5. Modal Address -->
 <div class="modal fade" id="myModal6" role="dialog">
    <div class="modal-dialog"> 
           
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3 class="modal-title"><strong>Address</strong></h3>
        </div>
          
            
            <div class="modal-body">
              <div class="container">
              <form method="POST">
                {% csrf_token %}
                <div class="col-sm-11">                            
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <label for="firstname"><h4><strong>Question Text</strong></h4></label>
                          <input type="text" class="form-control input-lg" id="phone" name="phone"value="Address">
                        </div>
                      </div>  
                    </div>
                    <br>
                      <p for="title" class=""><font color="#c0c0c0">__________________________________________________________________</font></p>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <label class="form-check-label" for="exampleRadios1"><h4><strong>&nbsp;&nbsp;Default Country</strong></h4></label>
                            <div class="dropdown">
                              <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">Select Default Country
                              <span class="caret"></span></button>
                              <ul class="dropdown-menu">
                                <li><a href="#">HTML</a></li>
                                <li><a href="#">CSS</a></li>
                                <li><a href="#">JavaScript</a></li>
                              </ul>
                            </div>
                        </div>
                      </div>
                    </div>
                    <p for="title" class=""><font color="#c0c0c0">__________________________________________________________________</font></p>
                    <div class="form-check">
                      <input type="checkbox" aria-label="Checkbox for following text input">
                      <label class="form-check-label" for="exampleRadios1">
                        <h4><strong>&nbsp;&nbsp;Required</strong></h4>
                      </label>
                      <p for="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;User will not be able to proceed without answering this question.</p> 
                    </div> 
                    <br>                     
              </form>
            </div>
          </div>
          <div class="modal-footer"><button type="submit" class="btn btn-primary" name = "ConfirmAddressBasic"><h5><strong>Confirm</strong></h5></button><br></div>
        </div>
      </div>
    </div>
</div> 

  <!-- 6. Modal Text Paragraph -->
  <div class="modal fade" id="myModal7" role="dialog">
    <div class="modal-dialog">  
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3 class="modal-title"><strong>Text Paragraph</strong></h3>
        </div>
          <div class="modal-body">
          <div class="container">
            <form method="POST">
              {% csrf_token %}
            <div class="col-sm-11">                              
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <label for="firstname"><h4><strong>Content</strong></h4></label><br>
                    <a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="{% static 'image/bold.png' %}" alt="">&nbsp;&nbsp;&nbsp;</a>
                    <a>&nbsp;<img src="{% static 'image/italic.png' %}" alt="">&nbsp;&nbsp;&nbsp;</a>
                    <a>&nbsp;<img src="{% static 'image/underline.png' %}" alt="">&nbsp;&nbsp;&nbsp;</a>
                    <a>&nbsp;<img src="{% static 'image/align-left.png' %}" alt="">&nbsp;&nbsp;&nbsp;</a>
                    <a>&nbsp;<img src="{% static 'image/align-center.png' %}" alt="">&nbsp;&nbsp;&nbsp;</a>
                    <a>&nbsp;<img src="{% static 'image/align-right.png' %}" alt="">&nbsp;&nbsp;&nbsp;</a>
                    <a>&nbsp;<img src="{% static 'image/justification.png' %}" alt="">&nbsp;&nbsp;&nbsp;</a>
                    <a>&nbsp;<img src="{% static 'image/list.png' %}" alt="">&nbsp;&nbsp;&nbsp;</a>
                    <a>&nbsp;<img src="{% static 'image/link.png' %}" alt="">&nbsp;&nbsp;&nbsp;</a>
                  </div><br>

                  <div class="modal-body col-sm-4 text-left ">
                    <div class="dropdown">
                      <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown">Font Type
                      <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                          <li><a href="#">Angsana New</a></li>
                          <li><a href="#">CSS</a></li>
                          <li><a href="#">JavaScript</a></li>
                        </ul>
                    </div>
                  </div>
                  <div class="modal-body col-sm-4 text-left ">
                    <div class="dropdown">
                      <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown">Font size
                      <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                          <li><a href="#">8px</a></li>
                          <li><a href="#">10px</a></li>
                          <li><a href="#">12px</a></li>
                          <li><a href="#">14px</a></li>
                          <li><a href="#">18px</a></li>
                          <li><a href="#">24px</a></li>
                          <li><a href="#">36px</a></li>
                        </ul>
                    </div>
                  </div>
                  <div class="modal-body col-sm-3 text-left ">
                    <div class="dropdown">
                      <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown">Font colour
                      <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                          <li><a href="#">8px</a></li>
                          <li><a href="#">10px</a></li>
                          <li><a href="#">12px</a></li>
                          <li><a href="#">14px</a></li>
                          <li><a href="#">18px</a></li>
                          <li><a href="#">24px</a></li>
                          <li><a href="#">36px</a></li>
                        </ul>
                    </div>
                  </div><br>
                  <div class="input-group-text">
                    <textarea class="form-control" id="phone" name="phone" name="w3review" rows="5" cols="50">Customer Onboarding Steps Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vitae arcu lacus. Praesent sollicitudin nulla ut nulla rhoncus vehicula. Nam vel arcu ut magna venenatis maximus. Integer vitae risus ac purus mollis mollis eget vitae lectus..</textarea>
                    <!-- <textarea id="w3review" rows="4" cols="50" type="text" class="form-control" id="phone" name="phone"value="Customer Onboarding Steps Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vitae arcu lacus. Praesent sollicitudin nulla ut nulla rhoncus vehicula. Nam vel arcu ut magna venenatis maximus. Integer vitae risus ac purus mollis mollis eget vitae lectus."></textarea> -->
                  </div>
                  <br>
                      <p for="title" class=""><font color="#c0c0c0">__________________________________________________________________</font></p>
                </div>  
              </div>
                <br>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <input type="checkbox" aria-label="Checkbox for following text input">
                    <label class="form-check-label" for="exampleRadios1"><h4><strong>&nbsp;&nbsp;Background colour</strong></h4></label>
                      <div class="dropdown">
                        <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">Select Background colour
                        <span class="caret"></span></button>
                          <ul class="dropdown-menu">
                            <li><a href="#">HTML</a></li>
                            <li><a href="#">CSS</a></li>
                            <li><a href="#">JavaScript</a></li>
                          </ul>
                      </div><br>
                      <p for="title" class=""><font color="#c0c0c0">__________________________________________________________________</font></p>
                  </div>
                </div>
              </div>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <input type="checkbox" aria-label="Checkbox for following text input">
                    <label class="form-check-label" for="exampleRadios1"><h4><strong>&nbsp;&nbsp;Border colour</strong></h4></label>
                      <div class="dropdown">
                        <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">Select Border colour
                        <span class="caret"></span></button>
                          <ul class="dropdown-menu">
                            <li><a href="#">HTML</a></li>
                            <li><a href="#">CSS</a></li>
                            <li><a href="#">JavaScript</a></li>
                          </ul>
                      </div>
                  </div>
                </div>
              </div><br>
            </div>                      
          </form>
          </div>
          </div>
        <div class="modal-footer"><button type="submit" class="btn btn-primary" name = "ConfirmTextParagraph"><h5><strong>Confirm</strong></h5></button><br></div>
      </div>
    </div>
    </div>

  <!-- 7. Modal Short&LongAnswer -->
    <div class="modal fade" id="myModal8" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h3 class="modal-title"><strong>Short&LongAnswer</strong></h3>
            </div>
            <div class="modal-body">
              <div class="container">
                <form method="POST">
                  {% csrf_token %}
                  <div class="col-sm-11">                             
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <label for="firstname"><h4><strong>Question Text</strong></h4></label>
                          <input type="text" class="form-control input-lg" id="phone" name="phone"value="Address">
                        </div>
                      </div>  
                    </div>
                    <br>
                      <p for="title" class=""><font color="#c0c0c0">__________________________________________________________________</font></p>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <label for="firstname"><h4><strong>Answer type</strong></h4></label><br>
                          <button class="btn btn-success" name = "ConfirmAddressBasic"><h5>     Short     </h5></button>
                          <button class="btn btn-success" name = "ConfirmAddressBasic"><h5>     Long     </h5></button>
                          <button class="btn btn-success" name = "ConfirmAddressBasic"><h5>     Number     </h5></button>
                          <br><br>
                          <p for="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Short answer allows up to 280 character limit on a single line input.</p>
                        </div>
                      </div>  
                    </div>
                      <p for="title" class=""><font color="#c0c0c0">__________________________________________________________________</font></p>
                    <div class="form-check">
                      <input type="checkbox" aria-label="Checkbox for following text input">
                      <label class="form-check-label" for="exampleRadios1">
                        <h4><strong>&nbsp;&nbsp;Required</strong></h4>
                      </label>
                      <p for="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;User will not be able to proceed without answering this question.</p>
                    </div>
                    <p for="title" class=""><font color="#c0c0c0">__________________________________________________________________</font></p>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <label for="firstname"><h4><strong>Pleceholder Text</strong></h4></label>
                          <input type="text" class="form-control input-lg" id="phone" name="phone"value="Type your answer here">
                        </div>
                      </div>  
                    </div><br>
                    <p for="title" class=""><font color="#c0c0c0">__________________________________________________________________</font></p>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <label class="form-check-label" for="exampleRadios1"><h4><strong>Format Validation</strong></h4></label>
                            <div class="dropdown">
                              <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">Free text  
                              <span class="caret">&nbsp;&nbsp;</span></button>
                                <ul class="dropdown-menu">
                                  <li><a href="#">HTML</a></li>
                                  <li><a href="#">CSS</a></li>
                                  <li><a href="#">JavaScript</a></li>
                                </ul>
                                <br>
                                <label>&nbsp;&nbsp;&nbsp;</label>
                                <p for="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Check if the input matches the selected format</p>
                            </div>
                        </div>
                      </div>
                    </div>
                    <p for="title" class=""><font color="#c0c0c0">__________________________________________________________________</font></p>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <label for="firstname"><h4><strong>Costom Error Message</strong></h4></label>
                          <input type="text" class="form-control input-lg" id="phone" name="phone"placeholder="Costom Error Message"><br>
                          <label>&nbsp;&nbsp;&nbsp;</label>
                          <p for="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Show error message when the input fails validation</p>
                        </div>
                      </div>  
                    </div>                      
                </form>
              </div>
            </div><br>
          <div class="modal-footer"><button type="submit" class="btn btn-primary" name = "ConfirmShortLongAnswe"><h5><strong>Confirm</strong></h5></button><br></div>
        </div>
      </div>
    </div>
  </div>   

  <!-- 8. Modal Signature -->
  <div class="modal fade" id="myModal9" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3 class="modal-title"><strong>Signature</strong></h3>
        </div>
        <div class="modal-body">
          <div class="container">
            <form method="POST">
              {% csrf_token %}
              <div class="col-sm-11">                             
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <label for="firstname"><h4><strong>Label</strong></h4></label>
                      <input type="text" class="form-control input-lg" id="phone" name="phone"value="Signature">
                    </div>
                  </div>  
                </div>
                <br>
                      <p for="title" class=""><font color="#c0c0c0">__________________________________________________________________</font></p>
                <div class="form-check">
                  <input type="checkbox" aria-label="Checkbox for following text input">
                  <label class="form-check-label" for="exampleRadios1">
                    <h4><strong>&nbsp;&nbsp;Required</strong></h4>
                  </label>
                  <p for="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;User will not be able to proceed without answering this question.</p>
                  <br> 
                </div> 
              </div>
            </form>
          </div>
          <div class="modal-footer"><button type="submit" class="btn btn-primary" name = "ConfirmSignature"><h5><strong>Confirm</strong></h5></button><br></div>
        </div>
      </div>
      
    </div>
    </div>
  
  <!-- 9. Modal Drowdown -->
  <div class="modal fade" id="myModal10" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3 class="modal-title"><strong>Drowdown</strong></h3>
        </div>
        <div class="modal-body">
          <div class="container">
            <form method="POST">
              {% csrf_token %}
              <div class="col-sm-11">                             
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <label for="firstname"><h4><strong>Question Label</strong></h4></label>
                      <input type="text" class="form-control input-lg" id="phone" name="phone"value="Select your option">
                    </div>
                  </div>  
                </div>
                <br>
                      <p for="title" class=""><font color="#c0c0c0">__________________________________________________________________</font></p>
                <div class="form-check">
                  <input type="checkbox" aria-label="Checkbox for following text input">
                  <label class="form-check-label" for="exampleRadios1">
                    <h4><strong>&nbsp;&nbsp;Required</strong></h4>
                  </label>
                  <p for="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;User will not be able to proceed without answering this question.</p> 
                </div>
                      <p for="title" class=""><font color="#c0c0c0">__________________________________________________________________</font></p> 
                <div class="form-check">
                  <input type="checkbox" aria-label="Checkbox for following text input">
                  <label class="form-check-label" for="exampleRadios1">
                    <h4><strong>&nbsp;&nbsp;Use Predefined Choices</strong></h4>
                  </label> 
                </div>
                      <p for="title" class=""><font color="#c0c0c0">__________________________________________________________________</font></p> 
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <input type="checkbox" aria-label="Checkbox for following text input">
                      <label for="title"><h4><strong>&nbsp;&nbsp;Option text</strong></h4></label><br>
                      <input type="text" class="form-control input-lg" id="option1" name="option1"value="option1"><br>
                      <label >&nbsp;&nbsp;</label>
                      <input type="text" class="form-control input-lg" id="option2" name="option2" value="option2"><br>
                      <label >&nbsp;&nbsp;</label>
                      <input type="text" class="form-control input-lg" id="option3" name="option3" value="option3"><br>
                      <label >&nbsp;&nbsp;</label><br>
                      <button type="submit" class="btn btn-success" name = "AddPrefixFullNameBasic"><h5>+Add more option</h5></button>
                    </div>
                  </div>  
                </div>
                <br>
              </div>
            </form>
          </div>
          <div class="modal-footer"><button type="submit" class="btn btn-primary" name = "ConfirmDrowdown"><h5><strong>Confirm</strong></h5></button><br></div>
        </div>
      </div>

    </div>
  </div>

  <!-- 10. Modal File Upload -->
  <div class="modal fade" id="myModal11" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3 class="modal-title"><strong>File Upload</strong></h3>
        </div>
        <div class="modal-body">
          <div class="container">
            <form method="POST">
              {% csrf_token %}
              <div class="col-sm-11">                             
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <label for="firstname"><h4><strong>Question text</strong></h4></label>
                      <input type="text" class="form-control input-lg" id="phone" name="phone"value="Question text">
                    </div>
                  </div>  
                </div>
                <br>
                      <p for="title" class=""><font color="#c0c0c0">__________________________________________________________________</font></p>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                    <label for="firstname"><h4><strong>File type</strong></h4></label>
                    <p for="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Select allowed File Type.</p>

                    <input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                      <h4>&nbsp;&nbsp;JPEG</strong></h4>
                    </label>
                    
                    <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <input type="radio" class="form-check-input" id="radio2" name="optradio" value="option2" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        <h4>&nbsp;&nbsp;PNG</strong></h4>
                    </label>

                    <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <input type="radio" class="form-check-input" id="radio3" name="optradio" value="option3" checked>
                    <label class="form-check-label" for="exampleRadios1">
                          <h4>&nbsp;&nbsp;PDF</strong></h4> 
                    </label>
                    <br> 
                  </div>
                </div>
                      <p for="title" class=""><font color="#c0c0c0">__________________________________________________________________</font></p>
                <div class="form-check">
                  <input type="checkbox" aria-label="Checkbox for following text input">
                  <label class="form-check-label" for="exampleRadios1">
                    <h4><strong>&nbsp;&nbsp;Required</strong></h4>
                  </label>
                  <p for="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;User will not be able to proceed without answering this question.</p>
                  <br> 
                </div> 
              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer"><button type="submit" class="btn btn-primary" name = "ConfirmFileUpload"><h5><strong>Confirm</strong></h5></button><br></div>
      </div>
    </div>
  </div>
</div>

  <!-- 11. Modal image -->
  <div class="modal fade" id="myModal12" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3 class="modal-title"><strong>Image</strong></h3>
        </div>
        <div class="modal-body">
          <div class="container">
            <form method="POST">
              {% csrf_token %}
              <div class="col-sm-11">                             
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <label for="firstname"><h4><strong>Image</strong></h4></label>
                      <figure class="figure">
                        <img src="https://pic-bstarstatic.akamaized.net/ugc/a437c54ce67efe2986398f66e1715bbcd23bbe81.png" id ="imageinmodelimage" class="figure-img img-fluid z-depth-1"
                          alt="..." style="width: 200px" >
                      </figure><br>
                      <label for="firstname"><h4><strong>Display image by URL</strong></h4></label>
                      <input type="text" class="form-control input-lg" id="displayimage" name="displayimage"placeholder="https://example.com"><br><label>&nbsp;</label><br>
                      <a class="btn btn-danger" name = "ChangeImage">Click Change Image</a>
                      <label>&nbsp;&nbsp;&nbsp;</label>
                      <script>
                        $(document).ready(function(){
                          $("a").click(function(displayimage){
                            $("#imageinmodelimage").attr("src",$("#displayimage").val());
                          });
                        });
                        </script>
                      
                    </div>
                  </div>  
                </div>   
                      <p for="title" class=""><font color="#c0c0c0">__________________________________________________________________</font></p>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <label for="firstname"><h4><strong>Size</strong></h4></label><br>
                      <button class="btn btn-success" name = "ConfirmAddressBasic"><h5>&nbsp;&nbsp;&nbsp;&nbsp;S&nbsp;&nbsp;&nbsp;&nbsp;</h5></button>&nbsp;&nbsp;
                      <button class="btn btn-success" name = "ConfirmAddressBasic"><h5>&nbsp;&nbsp;&nbsp;&nbsp;M&nbsp;&nbsp;&nbsp;&nbsp;</h5></button>&nbsp;&nbsp;
                      <button class="btn btn-success" name = "ConfirmAddressBasic"><h5>&nbsp;&nbsp;&nbsp;&nbsp;L&nbsp;&nbsp;&nbsp;&nbsp;</h5></button>
                      <br><br>
                      <p for="title" class=""><font color="#c0c0c0">__________________________________________________________________</font></p>
                    </div>
                  </div>  
                </div>
                <br>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <label for="firstname"><h4><strong>Alignment</strong></h4></label><br>
                      <button class="btn btn-success" name = "ConfirmAddressBasic"><h5>&nbsp;&nbsp;&nbsp;&nbsp;Left&nbsp;&nbsp;&nbsp;&nbsp;</h5></button>&nbsp;&nbsp;
                      <button class="btn btn-success" name = "ConfirmAddressBasic"><h5>&nbsp;&nbsp;&nbsp;&nbsp;Center&nbsp;&nbsp;&nbsp;&nbsp;</h5></button>&nbsp;&nbsp;
                      <button class="btn btn-success" name = "ConfirmAddressBasic"><h5>&nbsp;&nbsp;&nbsp;&nbsp;Right&nbsp;&nbsp;&nbsp;&nbsp;</h5></button>
                      <br>
                    </div>
                  </div>  
                </div>
                <br>
              </div>                    
            </form>
          </div>
        </div><br>
      <div class="modal-footer"><button type="submit" class="btn btn-primary" name = "ConfirmImage"><h5><strong>Confirm</strong></h5></button><br></div>
    </div>
  </div>
</div>   

  <!-- 12. Modal Choice -->
  <div class="modal fade" id="myModal13" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3 class="modal-title"><strong>Choice</strong></h3>
        </div>
        <div class="modal-body">
          <div class="container">
            <form method="POST">
              {% csrf_token %}
              <div class="col-sm-11">                             
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <label for="firstname"><h4><strong>Question Text</strong></h4></label>
                      <input type="text" class="form-control input-lg" id="phone" name="phone"placeholder="Question Text">
                    </div>
                  </div>  
                </div>
                <br>
                  <p for="title" class=""><font color="#c0c0c0">__________________________________________________________________</font></p>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <label for="firstname"><h4><strong>Choice type</strong></h4></label><br>
                        <button class="btn btn-success" name = "ChoicetypeSingle"><h5>&nbsp;&nbsp;&nbsp;&nbsp;Single&nbsp;&nbsp;&nbsp;&nbsp;</h5></button>&nbsp;&nbsp;
                        <button class="btn btn-success" name = "ChoicetypeMultiple"><h5>&nbsp;&nbsp;&nbsp;&nbsp;Multiple&nbsp;&nbsp;&nbsp;&nbsp;</h5></button>
                      </div>
                    </div>  
                  </div>
                  <br>
                    <p for="title" class=""><font color="#c0c0c0">__________________________________________________________________</font></p>
                  <div class="form-check">
                    <input type="checkbox" aria-label="Checkbox for following text input">
                    <label class="form-check-label" for="exampleRadios1">
                      <h4><strong>&nbsp;&nbsp;Use Predefined Choices</strong></h4>
                    </label> 
                  </div>      
                        <p for="title" class=""><font color="#c0c0c0">__________________________________________________________________</font></p> 
                  <div class="form-check">
                  <input type="checkbox" aria-label="Checkbox for following text input">
                  <label class="form-check-label" for="exampleRadios1">
                    <h4><strong>&nbsp;&nbsp;Horizontal Style</strong></h4>
                  </label>
                  <p for="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Spread options horizontally to make it more compact (Only on Desktop view).</p> 
                </div>
                      <p for="title" class=""><font color="#c0c0c0">__________________________________________________________________</font></p> 
                <div class="form-check">
                  <input type="checkbox" aria-label="Checkbox for following text input">
                  <label class="form-check-label" for="exampleRadios1">
                    <h4><strong>&nbsp;&nbsp;Required</strong></h4>
                  </label>
                  <p for="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;User will not be able to proceed without answering this question.</p> 
                </div>
                      <p for="title" class=""><font color="#c0c0c0">__________________________________________________________________</font></p> 
                <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <label for="firstname"><h4><strong>Option type</strong></h4></label><br>
                        <button class="btn btn-success" name = "ChoicetypeSingle"><h5>&nbsp;&nbsp;&nbsp;&nbsp;Redio Buttons&nbsp;&nbsp;&nbsp;&nbsp;</h5></button>&nbsp;&nbsp;
                        <button class="btn btn-success" name = "ChoicetypeMultiple"><h5>&nbsp;&nbsp;&nbsp;&nbsp;Choice Chips&nbsp;&nbsp;&nbsp;&nbsp;</h5></button>    
                        <p for="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<p for="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;User will not be able to proceed without answering this question.</p>
                      </div>
                    </div>  
                  </div>
                    <p for="title" class=""><font color="#c0c0c0">__________________________________________________________________</font></p>
                  <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <input type="checkbox" aria-label="Checkbox for following text input">
                      <label for="title"><h4><strong>&nbsp;&nbsp;Option text</strong></h4></label><br>
                      <input type="text" class="form-control input-lg" id="option1" name="option1"value="option1"><br>
                      <label >&nbsp;&nbsp;</label>
                      <input type="text" class="form-control input-lg" id="option2" name="option2" value="option2"><br>
                      <label >&nbsp;&nbsp;</label>
                      <input type="text" class="form-control input-lg" id="option3" name="option3" value="option3"><br>
                      <label >&nbsp;&nbsp;</label><br>
                      <button type="submit" class="btn btn-success" name = "AddPrefixFullNameBasic"><h5>+Add more option</h5></button>
                    </div>
                  </div>
                  <br>
                    <p for="title" class=""><font color="#c0c0c0">__________________________________________________________________</font></p>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <input type="checkbox" aria-label="Checkbox for following text input">
                        <label for="fullname"><h4><strong>&nbsp;&nbsp;Custom Error Message</strong></h4></label>
                        <label >&nbsp;&nbsp;</label>
                        <input type="text" class="form-control input-lg" id="lastname" name="lastname" value="Custom Error Message">
                      </div>
                    </div>  
                  </div>
                    
                </div>
            </form>
          </div>
        </div>
        <br><br>
        <div class="modal-footer"><button type="submit" class="btn btn-primary" name = "ConfirmChoice"><h5><strong>Confirm</strong></h5></button><br></div>
      </div>
    </div> 
    </div>
  </div>

  <!-- 13. Modal Date -->
  <div class="modal fade" id="myModal14" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3 class="modal-title"><strong>Date</strong></h3>
        </div>
        <div class="modal-body">
          <div class="container">
            <form method="POST">
              {% csrf_token %}
              <div class="col-sm-11">                             
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <label for="firstname"><h4><strong>Question Text</strong></h4></label>
                      <input type="text" class="form-control input-lg" id="phone" name="phone"placeholder="Question Text">
                    </div>
                  </div>  
                </div>
                <br>
                  <p for="title" class=""><font color="#c0c0c0">__________________________________________________________________</font></p>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <label for="firstname"><h4><strong>Year options</strong></h4></label><br>
                      <button class="btn btn-success" name = "ChoicetypeSingle"><h5>&nbsp;&nbsp;&nbsp;&nbsp;Future&nbsp;&nbsp;&nbsp;&nbsp;</h5></button>&nbsp;&nbsp;
                      <button class="btn btn-success" name = "ChoicetypeMultiple"><h5>&nbsp;&nbsp;&nbsp;&nbsp;Past&nbsp;&nbsp;&nbsp;&nbsp;</h5></button>
                    </div>
                  </div>  
                </div>            
                <div class="form-check">
                  <input type="checkbox" aria-label="Checkbox for following text input">
                  <label class="form-check-label" for="exampleRadios1">
                    <h4><strong>&nbsp;&nbsp;Include current date to option</strong></h4>
                  </label>             
                </div>
                      <p for="title" class=""><font color="#c0c0c0">__________________________________________________________________</font></p> 
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <label for="firstname"><h4><strong>Year format</strong></h4></label><br>
                            <button class="btn btn-success" name = "ChoicetypeSingle"><h5>&nbsp;&nbsp;&nbsp;&nbsp;Common Era&nbsp;&nbsp;&nbsp;&nbsp;</h5></button>&nbsp;&nbsp;
                            <button class="btn btn-success" name = "ChoicetypeMultiple"><h5>&nbsp;&nbsp;&nbsp;&nbsp;Buddhist Era&nbsp;&nbsp;&nbsp;&nbsp;</h5></button>
                          </div>
                        </div>  
                      </div>            
                      <div class="form-check">            
                        <br>
                          <p>&nbsp;&nbsp;Common Era + 543 years</p>                       
                      </div>
                            <p for="title" class=""><font color="#c0c0c0">__________________________________________________________________</font></p>
                      <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <label class="form-check-label" for="exampleRadios1"><h4><strong>Date format</strong></h4></label>
                            <div class="dropdown">
                              <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">please select date format   
                              <span class="caret">&nbsp;&nbsp;</span></button>
                                <ul class="dropdown-menu">
                                  <li><a href="#">HTML</a></li>
                                  <li><a href="#">CSS</a></li>
                                  <li><a href="#">JavaScript</a></li>
                                </ul>
                                <br>
                                <label>&nbsp;&nbsp;&nbsp;</label>
                                <p for="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Check if the input matches the selected format</p>
                            </div>
                        </div>
                      </div>
                    </div>
                    <p for="title" class=""><font color="#c0c0c0">__________________________________________________________________</font></p>
                    <div class="input-group">
                      <div class="form-check">
                        <input type="checkbox" aria-label="Checkbox for following text input">
                        <label class="form-check-label" for="exampleRadios1">
                          <h4><strong>&nbsp;&nbsp;Required</strong></h4>
                        </label>
                        <p for="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;User will not be able to proceed without answering this question.</p> 
                      </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        <br>
        <div class="modal-footer"><button type="submit" class="btn btn-primary" name = "ConfirmDate"><h5><strong>Confirm</strong></h5></button><br></div>
      </div>
    </div>
  </div>   

  <!-- 14. Modal Divider -->
  <div class="modal fade" id="myModal15" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"><strong>Divider</strong></h4>
          </div>
          <div class="modal-body">
            <div class="container">
              <form method="POST">
                {% csrf_token %}
                <div class="col-sm-11">                             
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <label for="firstname"><h4><strong>Colour</strong></h4></label>
                        <figure class="figure">
                          <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/8-col/img%20(73).webp" class="figure-img img-fluid z-depth-1"
                            alt="..." style="width: 200px">
                          <figcaption class="figure-caption">ใส่ไว้ก่อน</figcaption>
                        </figure>
                      </div>
                    </div>  
                  </div>
                  <br>
                        <p for="title" class=""><font color="#c0c0c0">__________________________________________________________________</font></p>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <label for="firstname"><h4><strong>Divider Style</strong></h4></label><br>
                        <button class="btn btn-success" name = "ConfirmAddressBasic"><h5>&nbsp;&nbsp;&nbsp;&nbsp;Solid&nbsp;&nbsp;&nbsp;&nbsp;</h5></button>&nbsp;&nbsp;
                        <button class="btn btn-success" name = "ConfirmAddressBasic"><h5>&nbsp;&nbsp;&nbsp;&nbsp;Dashed&nbsp;&nbsp;&nbsp;&nbsp;</h5></button>
    
                        <br><br>
                        <p for="title" class=""><font color="#c0c0c0">__________________________________________________________________</font></p>
                      </div>
                    </div>  
                  </div>
                  <br>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <label for="firstname"><h4><strong>Divider Style</strong></h4></label><br>
                        <button class="btn btn-success" name = "ConfirmAddressBasic"><h5>&nbsp;&nbsp;&nbsp;&nbsp;S&nbsp;&nbsp;&nbsp;&nbsp;</h5></button>&nbsp;&nbsp;
                        <button class="btn btn-success" name = "ConfirmAddressBasic"><h5>&nbsp;&nbsp;&nbsp;&nbsp;M&nbsp;&nbsp;&nbsp;&nbsp;</h5></button>&nbsp;&nbsp;
                        <button class="btn btn-success" name = "ConfirmAddressBasic"><h5>&nbsp;&nbsp;&nbsp;&nbsp;L&nbsp;&nbsp;&nbsp;&nbsp;</h5></button>
                        <br>
                      </div>
                    </div>  
                  </div>
                  <br>
                </div>                    
              </form>
            </div>
          </div><br>
        <div class="modal-footer"><button type="submit" class="btn btn-primary" name = "ConfirmDivider"><h5><strong>Confirm</strong></h5></button><br></div>
      </div>
    </div>
    </div>

<!-- Modal edit Header -->
<div class="modal fade" id="myModal02" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title"><strong>Step</strong></h3>
      </div>
      <div class="modal-body">
        <div class="container">
          <form method="POST">
            {% csrf_token %}
            <div class="col-sm-11">                             
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <label for="firstname"><h4><strong>Header Details</strong></h4></label>
                    <input type="text" class="form-control input-lg" id="phone" name="phone"placeholder="Contract Details"><br>
                    <label>&nbsp;&nbsp;&nbsp;</label>
                  </div>
                </div>  
              </div>   
                    <p for="title" class=""><font color="#c0c0c0">__________________________________________________________________</font></p>
            
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <label for="firstname"><h4><strong>Sub-header text</strong></h4></label><br>
                    <textarea class="form-control input-lg" id="phone" name="phone" name="w3review" rows="4" cols="50">Sub-header text</textarea>
                  </div>
                  <br>
                      <p for="title" class=""><font color="#c0c0c0">__________________________________________________________________</font></p>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <label for="firstname"><h4><strong>Navigation Button Text</strong></h4></label>
                        <p>Back Button Text</p>
                        <input type="text" class="form-control input-lg" id="phone" name="phone"placeholder="Back"><br>
                        <label>&nbsp;&nbsp;&nbsp;</label>
                        <p>Next Button Text</p>
                        <input type="text" class="form-control input-lg" id="phone" name="phone"placeholder="Continue"><br>
                        <label>&nbsp;&nbsp;&nbsp;</label>
                      </div>
                    </div>  
                  </div>   
                    <br>
                  </div>
                </div>  
              </div>
              <br>
            </div>                    
          </form>
        </div>
        <div class="modal-footer"><button type="submit" class="btn btn-primary" name = "ConfirmIntroductionPage"><h5><strong>Confirm</strong></h5></button><br></div>
      </div><br>
    
  </div>
</div>


 <!-- 15. Modal Introduction Page -->
 <div class="modal fade" id="myModal01" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3 class="modal-title"><strong>Introduction Page</strong></h3>
        </div>
        <div class="modal-body">
          <div class="container">
            <form method="POST">
              {% csrf_token %}
              <div class="col-sm-11">                             
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <label for="firstname"><h4><strong>Image</strong></h4></label>
                      <figure class="figure">
                        <figure class="figure">
                          <img src="https://pic-bstarstatic.akamaized.net/ugc/a437c54ce67efe2986398f66e1715bbcd23bbe81.png" id ="introductionimage" class="figure-img img-fluid z-depth-1"
                            alt="..." style="width: 200px" >
                        </figure><br>
                        <label for="firstname"><h4><strong>Display image by URL</strong></h4></label>
                        <input type="text" class="form-control " id="introductiondisplayimage" name="introductiondisplayimage"placeholder="https://example.com"><br><label>&nbsp;</label><br>
                        <a class="btn btn-danger" name = "introductionChangeImage">Click Change Image</a>
                        <label>&nbsp;&nbsp;&nbsp;</label>
                        <script>
                          $(document).ready(function(){
                            $("a").click(function(displayimage){
                              $("#introductionimage").attr("src",$("#introductiondisplayimage").val());
                            });
                          });
                          </script>
                    </div>
                  </div>  
                </div>   
                      <p for="title" class=""><font color="#c0c0c0">__________________________________________________________________</font></p>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <label for="firstname"><h4><strong>Header text</strong></h4></label>
                      <input type="text" class="form-control input-lg" id="phone" name="phone"placeholder="Begin your onboarding"><br>
                      <label>&nbsp;&nbsp;&nbsp;</label>
                    </div>
                  </div>  
                </div>   
                      <p for="title" class=""><font color="#c0c0c0">__________________________________________________________________</font></p>
                <br>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <label for="firstname"><h4><strong>Content</strong></h4></label><br>
                      <a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="{% static 'image/bold.png' %}" alt="">&nbsp;&nbsp;&nbsp;</a>
                      <a>&nbsp;<img src="{% static 'image/italic.png' %}" alt="">&nbsp;&nbsp;&nbsp;</a>
                      <a>&nbsp;<img src="{% static 'image/underline.png' %}" alt="">&nbsp;&nbsp;&nbsp;</a>
                      <a>&nbsp;<img src="{% static 'image/align-left.png' %}" alt="">&nbsp;&nbsp;&nbsp;</a>
                      <a>&nbsp;<img src="{% static 'image/align-center.png' %}" alt="">&nbsp;&nbsp;&nbsp;</a>
                      <a>&nbsp;<img src="{% static 'image/align-right.png' %}" alt="">&nbsp;&nbsp;&nbsp;</a>
                      <a>&nbsp;<img src="{% static 'image/justification.png' %}" alt="">&nbsp;&nbsp;&nbsp;</a>
                      <a>&nbsp;<img src="{% static 'image/list.png' %}" alt="">&nbsp;&nbsp;&nbsp;</a>
                      <a>&nbsp;<img src="{% static 'image/link.png' %}" alt="">&nbsp;&nbsp;&nbsp;</a>
                    </div><br>
                    <div class="modal-body col-sm-4 text-left ">
                      <div class="dropdown">
                        <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown">Font Type
                        <span class="caret"></span></button>
                          <ul class="dropdown-menu">
                            <li><a href="#">Angsana New</a></li>
                            <li><a href="#">CSS</a></li>
                            <li><a href="#">JavaScript</a></li>
                          </ul>
                      </div>
                    </div>
                    <div class="modal-body col-sm-4 text-left ">
                      <div class="dropdown">
                        <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown">Font size
                        <span class="caret"></span></button>
                          <ul class="dropdown-menu">
                            <li><a href="#">8px</a></li>
                            <li><a href="#">10px</a></li>
                            <li><a href="#">12px</a></li>
                            <li><a href="#">14px</a></li>
                            <li><a href="#">18px</a></li>
                            <li><a href="#">24px</a></li>
                            <li><a href="#">36px</a></li>
                          </ul>
                      </div>
                    </div>
                    <div class="modal-body col-sm-3 text-left ">
                      <div class="dropdown">
                        <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown">Font colour
                        <span class="caret"></span></button>
                          <ul class="dropdown-menu">
                            <li><a href="#">8px</a></li>
                            <li><a href="#">10px</a></li>
                            <li><a href="#">12px</a></li>
                            <li><a href="#">14px</a></li>
                            <li><a href="#">18px</a></li>
                            <li><a href="#">24px</a></li>
                            <li><a href="#">36px</a></li>
                          </ul>
                      </div>
                    </div><br><br>
                    <div class="input-group-text">
                      <textarea class="form-control" id="phone" name="phone" name="w3review" rows="2" cols="50">Stand in a well-lit environment Prepare your ID document</textarea>
                    </div>
                    <br>
                        <p for="title" class=""><font color="#c0c0c0">__________________________________________________________________</font></p>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <label for="firstname"><h4><strong>Content Alignment</strong></h4></label><br>
                          <button class="btn btn-success" name = "ConfirmAddressBasic"><h5>&nbsp;&nbsp;&nbsp;Left&nbsp;&nbsp;&nbsp;</h5></button>&nbsp;&nbsp;&nbsp;
                          <button class="btn btn-success" name = "ConfirmAddressBasic"><h5>&nbsp;&nbsp;&nbsp;Center&nbsp;&nbsp;&nbsp;</h5></button>&nbsp;&nbsp;&nbsp;
                          <button class="btn btn-success" name = "ConfirmAddressBasic"><h5>&nbsp;&nbsp;&nbsp;Right&nbsp;&nbsp;&nbsp;</h5></button>
                          <br>
                        </div>
                      </div>  
                    </div><br>
                    <p for="title" class=""><font color="#c0c0c0">__________________________________________________________________</font></p>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <label for="firstname"><h4><strong>Start Button Text</strong></h4></label>
                          <input type="text" class="form-control input-lg" id="phone" name="phone"placeholder="Start"><br>
                          <label>&nbsp;&nbsp;&nbsp;</label>
                        </div>
                      </div>  
                    </div>   
                      <br>
                    </div>
                  </div>  
                </div>
                <br>
              </div>                    
            </form>
          </div>
          <div class="modal-footer"><button type="submit" class="btn btn-primary" name = "ConfirmIntroductionPage"><h5><strong>Confirm</strong></h5></button><br></div>
        </div><br>
    </div>
</div> 




<!-- ทำ ๋js ให้เป็น static file เพราะถ้าโค้ดยาวเกินไป ดูลำบาก 555 -->
  <script src="{% static 'js/modelpopupelement.js' %}"></script>
{% endif %}
{% endblock content %}


