{% extends 'uppassapp/Base.html' %}
{% load static %}
{% block title %} Profile {% endblock title %}

{% block content %}
{% if message %}

<h3>{{message}}</h3>

{% else %}
<center>
<form method="POST">
    <div class="container-fluid text-left bg-danger">
            {% csrf_token %}
            <div class="row ">
                <div class="col-sm-4 bg-info ">
                </div>
                <div class="col-sm-5 bg-info text-center ">
                    <div class="col-sm-12 bg-info">
                        <div class="card mb-3 rounded-2 shadow-sm border-light">
                            <div class="card-header py-3 text-bg-light border-light">
                                <ul class="nav nav-pills nav-stacked">
                                    <br><br>
                                    <center><li class="active "><img src="{% static 'image/malee.png' %}" alt="" width="80" height="60">&nbsp;&nbsp;Khanthamalee</a></li></center>
                                  </ul>
                                <br><br>
                                {% csrf_token %}
                                <center><h4 class="btn btn-success text-white" ><strong>Detail&nbsp;{{contactnameflow.allflow}}</strong></h4></center><br>
                                <!-- <div class="form-group text-left">
                                    <p>From : </p>
                                    <input type="text" id = "username" name="username" value="{{user.username}}" ></input>
                                    <input type="text" id= "flowname" name="flowname" value="{{user.username}}" ></input><br>
                                </div> -->
                                <div class="form-group">
                                
                                <div class="form-group">
                                <h4 for="firstname" class="form-control input-lg text-left">{{contactnameflow.prefixflow}}&nbsp;{{contactnameflow.firstnameflow}}&nbsp;{{contactnameflow.midlenameflow}}&nbsp;{{contactnameflow.lastnameflow}}</h4>
                                </div>
                                <br>

                                <h4 for="firstname" class="form-control input-lg text-left">เพศ : {{contactnameflow.genderflow}}</h4><br>
                                <h4 for="firstname" class="form-control input-lg text-left">เบอร์โทรศัพท์ : {{contactnameflow.phoneflow}}</h4><br>
                                <h4 for="firstname" class="form-control input-lg text-left">อีเมลล์ : {{contactnameflow.emailflow}}</h4><br>
                                <textarea for="firstname" class="form-control input-lg text-left">ที่อยู่ : {{contactnameflow.addressflow}}&nbsp; ตำบล{{contactnameflow.addresssubdistrictflow}}&nbsp; อำเภอ{{contactnameflow.addressdistrictflow }} &nbsp;จังหวัด{{contactnameflow.addressprovinceflow}}&nbsp;ประเทศ{{contactnameflow.addresscountryflow}}</textarea><br>
                                {% if contactnameflow.pictureflow %}
                                <h4>ภาพประกอบ</h4><img class="card-image-top border border-warning justify-center" src="{{contactnameflow.pictureflow.url}}" width="500" height="500" ><br><br>
                                {% endif  %}
                                <h4 for="firstname">ไฟล์ประกอบ : <a href="{{contactnameflow.specfile.url}}"> {{contactnameflow.specfileflow}}</a></h4><br>
                                <button class="btn btn-danger" name="delete">DELETE</button>

 
                            </div>
                        </div>
                        
                    </div>
               </div>
            </div>
        </div>
    </div>
</form></center> 

{% endif %}

{%  endblock content %}