{% extends 'uppassapp/Base.html' %}
{% load static %}
{% block title %} Profile {% endblock title %}

{% block content %}
{% if message %}

<h3>{{message}}</h3>

{% else %}
<center>
<form method="POST" enctype="multipart/form-data">
    <div class="container-fluid text-left bg-danger">
            {% csrf_token %}
            <div class="row ">
                <div class="col-sm-4 bg-info ">
                </div>
                <div class="col-sm-4 bg-info ">
                    <div class="col-sm-12 bg-info">
                        <div class="card mb-3 rounded-2 shadow-sm border-light">
                            <div class="card-header py-3 text-bg-light border-light">
                                <ul class="nav nav-pills nav-stacked">
                                    <br><br>
                                    <center><li class="active "><img src="{% static 'image/malee.png' %}" alt="" width="80" height="60">&nbsp;&nbsp;Khanthamalee</a></li></center>
                                  </ul>
                                <br><br>
                                {% csrf_token %}
                                <center><h4 class="btn btn-success text-white" ><strong>Contact Detail</strong></h4></center><br>
                                <!-- <div class="form-group text-left">
                                    <p>From : </p>
                                    <input type="text" id = "username" name="username" value="{{user.username}}" ></input>
                                    <input type="text" id= "flowname" name="flowname" value="{{user.username}}" ></input><br>
                                </div> -->
                                <div class="form-group">
                                <h4 for="title"><strong>Please Enter your name.</strong></h4><br>
                                <label for="firstname"><strong>Prefix</strong></label><br><br>
                                <!-- <button class="btn btn-success" name="mr"><h5>&nbsp;&nbsp;&nbsp;&nbsp;Mr.&nbsp;&nbsp;&nbsp;&nbsp;</h5></button>&nbsp;&nbsp;
                                <button class="btn btn-success" name="mrs"><h5>&nbsp;&nbsp;&nbsp;&nbsp;Mrs.&nbsp;&nbsp;&nbsp;&nbsp;</h5></button>&nbsp;&nbsp;
                                <button class="btn btn-success" name="miss"><h5>&nbsp;&nbsp;&nbsp;&nbsp;Miss&nbsp;&nbsp;&nbsp;&nbsp;</h5></button>
                                <br><br>
                                <div class="radio"> -->
                                    <!-- <label class="radio-inline"><input class="form-check-input" type="radio"id="radio1" value="option1" name="male"checked>&nbsp;&nbsp;&nbsp;&nbsp;Male&nbsp;&nbsp;&nbsp;&nbsp;</label><br>
                                    <label class="radio-inline"checked><input class="form-check-input" type="radio"id="radio2" value="option2" name="female">&nbsp;&nbsp;&nbsp;&nbsp;Female&nbsp;&nbsp;&nbsp;&nbsp;</label><br>
                                    <label class="radio-inline"checked><input class="form-check-input" type="radio"id="radio3" value="option3"name="genderother">&nbsp;&nbsp;&nbsp;&nbsp;Othergender&nbsp;&nbsp;&nbsp;&nbsp;</label><br> -->

                                        &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" class="form-check-input" id="radio1" name="radioprefix" value="Mr." checked>
                                        <label class="form-check-label" for="exampleRadios1">
                                        <h5>&nbsp;Mr.</strong></h4>
                                        </label><br>
                                        
                                        <label>&nbsp;&nbsp;&nbsp;</label>
                                        <input type="radio" class="form-check-input" id="radio2" name="radioprefix" value="Mrs." checked>
                                        <label class="form-check-label" for="exampleRadios1">
                                            <h5>&nbsp;Mrs.</strong></h4>
                                        </label><br>

                                        <label>&nbsp;&nbsp;&nbsp;</label>
                                        <input type="radio" class="form-check-input" id="radio3" name="radioprefix" value="Miss." checked>
                                        <label class="form-check-label" for="exampleRadios1">
                                            <h5>&nbsp;Miss</strong></h4> 
                                        </label><br>

                                        <!-- <button class="btn btn-success" name = "male"><h5>&nbsp;&nbsp;&nbsp;&nbsp;Male&nbsp;&nbsp;&nbsp;&nbsp;</h5></button>&nbsp;&nbsp;
                                        <button class="btn btn-success" name = "female"><h5>&nbsp;&nbsp;&nbsp;&nbsp;Female&nbsp;&nbsp;&nbsp;&nbsp;</h5></button>&nbsp;&nbsp;<br><br>
                                        <label for="genderother">&nbsp;&nbsp;&nbsp;&nbsp;Othergender</label><br>  -->
                                    </div>
                                </div>
                                <br>

                                <div class="form-group">
                                <label for="firstname">First Name</label>
                                <input type="text" class="form-control input-lg" id="firstname" name="firstname"placeholder="please enter your first name" required>
                                </div>
                                <br>

                                <div class="form-group">
                                <label for="middlename">Middle Name</label>
                                <input type="text" class="form-control input-lg"  id="middlename" name="middlename" placeholder="please enter your middle name">
                                </div>
                                <br>

                                <div class="form-group">
                                <label for="lastname">Last Name</label>
                                <input class="form-control input-lg" rows="5" id="lastname" name="lastname" placeholder="please enter your last name" required></input>
                                </div>
                                <br>

                                <div class="form-group">
                                    
                                    <label for="firstname"><strong>Gender</strong></label><br>

                                        <!-- <label class="radio-inline"><input class="form-check-input" type="radio"id="radio1" value="option1" name="male"checked>&nbsp;&nbsp;&nbsp;&nbsp;Male&nbsp;&nbsp;&nbsp;&nbsp;</label><br>
                                        <label class="radio-inline"checked><input class="form-check-input" type="radio"id="radio2" value="option2" name="female">&nbsp;&nbsp;&nbsp;&nbsp;Female&nbsp;&nbsp;&nbsp;&nbsp;</label><br>
                                        <label class="radio-inline"checked><input class="form-check-input" type="radio"id="radio3" value="option3"name="genderother">&nbsp;&nbsp;&nbsp;&nbsp;Othergender&nbsp;&nbsp;&nbsp;&nbsp;</label><br> -->

                                            &nbsp;&nbsp;<input type="radio" class="form-check-input" id="radio1" name="radiogender" value="Male" checked>
                                            <label class="form-check-label" for="exampleRadios1">
                                            <h5>Male</strong></h4>
                                            </label><br>
                                            
                                            <label>&nbsp;</label>
                                            <input type="radio" class="form-check-input" id="radio2" name="radiogender" value="Female" checked>
                                            <label class="form-check-label" for="exampleRadios1">
                                                <h5>&nbsp;Female</strong></h4>
                                            </label><br>

                                            <label>&nbsp;</label>
                                            <input type="radio" class="form-check-input" id="radio2" name="radiogender" value="Inconvenience" checked>
                                            <label class="form-check-label" for="exampleRadios1">
                                                <h5>&nbsp;Inconvenience</strong></h4>
                                            </label><br>

        <!-- 
                                            <button class="btn btn-success" name = "male"><h5>&nbsp;&nbsp;&nbsp;&nbsp;Male&nbsp;&nbsp;&nbsp;&nbsp;</h5></button>&nbsp;&nbsp;
                                            <button class="btn btn-success" name = "female"><h5>&nbsp;&nbsp;&nbsp;&nbsp;Female&nbsp;&nbsp;&nbsp;&nbsp;</h5></button>&nbsp;&nbsp;<br><br>
                                            <label for="genderother">&nbsp;&nbsp;&nbsp;&nbsp;Othergender</label><br> -->

                                </div>
                                <br>

                                <div class="form-group">
                                    <label for="phone">Phone number</label>
                                    <input type="tel" class="form-control input-lg" id="phone" name="phone"placeholder="089-667678"pattern="[0-9]{3}-[0-9]{3}[0-9]{4}" required>
                                </div>
                                <br>

                                <div class="form-group">
                                    <label for="email">Email</label><br>
                                    <input type="text" class="form-control input-lg" id="email" name="email"placeholder="please enter your email" required>
                                </div>
                                <br>

                                <div class="form-group">
                                    <label for="emailconfirm">Confirm your Email</label><br>
                                    <input type="text" class="form-control input-lg" id="emailconfirm" name="emailconfirm" placeholder="please confirm your email"required>
                                </div>
                                <br>

                                <div class="form-group">
                                    <h4 for="title"><strong>Address</strong></h4><br>
                                    <label for="address1">ประเทศ</label><br>
                                    <input type="text" class="form-control input-lg" id="address1" name="address1"placeholder="กรุณากรอกประเทศที่คุณอาศัยอยู่" required>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="address2">ที่อยู่ เลขที่/ซอย/ถนน</label><br>
                                    <textarea type="text" class="form-control input-lg" id="address2" rows="5" name="address2"placeholder="กรุณากรอก ที่อยู่ เลขที่/ซอย/ถนน ที่คุณอาศัยอยู่" required></textarea>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="address3">จังหวัด</label><br>
                                    <input type="text" class="form-control input-lg" id="address3"  name="address3" placeholder="กรุณากรอกจังหวัดที่คุณอาศัยอยู่" required>
                                </div>
                                <br>

                                <div class="form-group">
                                    <label for="address4">อำเภอ</label><br>
                                    <input type="text" class="form-control input-lg" id="address4"  name="address4" placeholder="กรุณากรอกอำเภอที่คุณอาศัยอยู่" required>
                                </div>
                                <br>

                                <div class="form-group">
                                    <label for="address5">ตำบล</label><br>
                                    <input type="text" class="form-control input-lg" id="address5"  name="address5" placeholder="กรุณากรอกตำบลที่คุณอาศัยอยู่" required>
                                </div>
                                <br>

                                <div class="form-group">
                                    <label for="address6">รหัสไปรษณีย์</label><br>
                                    <input type="text" class="form-control input-lg" id="address6"  name="address6" placeholder="กรุณากรอกรหัสไปรษณีอำเภอที่คุณอาศัยอยู่" required>
                                </div>
                                <br>
                                <form>
                                    <div class="form-group">
                                      <label for="picture">แนบรูปภาพของคุณ</label>
                                      <input type="file" class="form-control-file" id="picture" name="picture">
                                    </div><br>
                      
                                    <div class="form-group">
                                      <label for="specfile">Upload file</strong></label>
                                      <input type="file" class="form-control-file" id="specfile" name="specfile">
                                    </div>
                                    <br>
                                    <center><button type="submit" class="btn btn-success">Finish</button></center><br><br>
                                    
                                </form>
                                <div class="form-group">
                                    <p class="text-info" >From : {{usernameflow.totaluser}}{{usernameflow.nameflow}}{{usernameflow.token}} </p>
                                </div>
 
                            </div>
                        </div>
                        
                    </div>
               </div>
            </div>
        </div>
    </div>
</form></center> 

{% endif %}

{%  endblock content %}