{% extends 'uppassapp/Base.html' %}
{% load static %}
{% block title %} BUILD {% endblock title %}

{% block header %}

<link rel="stylesheet" href="{% static 'css/bootstrap1.min.css' %}" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
{% endblock header %}

{% block search %}  

        <input type="text" placeholder="Search.." name="search" class="input-lg">
        <a type="submit"><img src="{% static 'image/search.png' %}" alt="">&nbsp;&nbsp;&nbsp;</a>


{% endblock search %}
{% block content %}

<form method="POST">
<div class="container-fluid text-left">    
    <div class="row content">
    <div class="col-sm-2 sidenav">
      <ul class="nav nav-pills nav-stacked">
        <center><li class="active "><img src="{% static 'image/malee.png' %}" alt="" width="80" height="60">&nbsp;&nbsp;Khanthamalee</center> </a></li>
      </ul><br>
      {% csrf_token %}
      <h4>Workspace</h4><br>
        <ul class="nav nav-pills nav-stacked">
          {% if user.is_authenticated %}
          <li class="btn btn-success"> <span class=" glyphicon glyphicon-home navbar-btn"></span>&nbsp;&nbsp;&nbsp;{{user.first_name}} {{user.last_name}}&nbsp;&nbsp;&nbsp;({{user.profile.usertype}}) </li>{% endif %}
        </ul><br>
        <ul class="nav nav-pills nav-stacked">
          <li class="active "><a href="{% url 'Crud-ajax' %}"><span class=" glyphicon glyphicon-file navbar-btn"></span> Flows</a></li>
          <li class="active"><a href="#"><span class=" glyphicon glyphicon-usd navbar-btn"></span> Billing</a></li>
          <li class="active"><a href="#"><span class=" glyphicon glyphicon-user navbar-btn"></span> Manage user</a></li>
        </ul><br>
      <h4>Workspace Credits</h4><br>

      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#"><span class=" glyphicon glyphicon-bitcoin navbar-btn"></span>   Point</a></li>
        <li class="active"><a href="#"><span class=" glyphicon glyphicon-credit-card navbar-btn"></span> Buy Credits</a></li>
      </ul>
    </div>
  
    <div class="col-sm-2 text-left" > <br>
      <a class="btn btn-primary"><h4><strong>&nbsp;&nbsp;&nbsp;All my form&nbsp;&nbsp;&nbsp;</strong></h4></a><br><br>
        <!-- <div class="container"> -->
          <!--  <div class="dropdown .bg-info"> --> 
        <form id="addUser" action="">
            <ul class="nav nav-pills nav-stacked" >
                  <div class="form-group">
                    <input class="form-control input-lg" type="text" id="name9"  name="name9" value="{{user.username}}" required>
                  </div>
                  <table class="table table-bordered ">
                    <thead>
                      <tr>
                        <th class="text-center" >Order</th>
                        <th class="text-center" >Name of form</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for form in myform %}
                      <tr>
                        <th class="text-center">{{forloop.counter}}</th>
                        <td >{{form.nameflow }}</td>
                      {% endfor %} 
                    </tbody>
                  </table>
            </ul><br>
              <!-- <center><button type="submit" class="btn btn-info"onclick="appendText()" name="createflow">Create</button></center>
            </ul><br> -->
        </form>  



        <!-- <div class="card text-white bg-primary mb-3"><center>
            <ul class="nav nav-pills nav-stacked">
            <li class="active">
              <a class="text-left"href="#"><span class=" glyphicon glyphicon-th navbar-btn"></span>&nbsp;&nbsp; Your flow. &nbsp;&nbsp;<img src="{% static 'image/edit.png' %}" alt=""class="btn btn-primary " data-toggle="modal" data-target="#myModal02"></a>
                

              <div class="card text-center">
                <ul class="list-group list-group-flush" >
                  <li class="list-group-item list-group-item-info"id="element2" ></li>
                        <script>
                            function appendText() {
                            var dd = $("#flowname").val()
                            var txt2 = $("<h5></h5><hr>").text(dd);  // Create text with jQuery
                            $("#element2").append(txt2);   // Append new elements
                            }
                        </script>
                </ul>
              </div>
            </ul>
        </div> -->
    </div>
    <div class="col-sm-8 sidenav">
        <a class="btn btn-primary"><h4><strong>&nbsp;&nbsp;&nbsp;list in form&nbsp;&nbsp;&nbsp;</strong></h4></a><br><br>
        <div class="card text-white bg-secondary mb-5"><center>
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><br>
                  <table id="userTable" class="table table-striped">
                    <tr>
                      <th class="text-left col-sm-2">ชื่อแบบฟอร์ม</th>
                      <th class="text-left">รายชื่อผู้ติดต่อ</th>
                      <th class="text-center">เบอร์โทรศัพท์</th>
                      <th class="text-center">อีเมล</th>
                      <th class="text-center col-sm-2">ภาพ</th>
                    </tr>
                        {% for data in listinfrom %}
                        <tr id="data-{{data.id}}">
                            <td class="userName userData text-left col-sm-2" name="name">{{data.allflow }}</td>
                            <td class="userName userData text-left" name="fullname">{{data.firstnameflow }}&nbsp;&nbsp;{{data.lastnameflow}}</td>
                            <td class="userPhone userData text-center" name="phone"><a href="#">{{data.phoneflow}}</a></td>
                            <td class="userEmail userData text-center" name="email"><a href="#">{{data.emailflow}}</a></td>
                            {% if data.pictureflow %}
                            <td class="userPicture userData text-center col-sm-2" name="picture"><a href="#"><img class="card-image-top border border-warning" width="100" height="100" src="{{data.pictureflow.url}}"></a></td>
                            {% endif  %}
                            <td align="center" class="col-sm-1">
                              <button class="btn btn-info form-control" name="detail" ><a href="{% url 'Detailcutomer-page' data.id %}">Detail</a></button>
                          </td>
                            <!-- <td class="col-sm-1">
                                <button class="btn btn-danger form-control" name="delete">DELETE</button>
                            </td> -->
                        </tr>
                        {% endfor %}
                      
                  </table>
                </li>
            </ul><br>
            </center>
        </div>
    </div>    
</div>

<!-- Model pop up -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <center><h4 class="modal-title" id="myModalLabel">Update Your flow</h4></center>
        </div>
        <form id="updateUser" action="">
        <div class="modal-body">
            <input class="form-control" id="form-id" type="hidden" name="formId"/>
            <label for="name">Username</label>
            <input class="form-control" id="form-name" type="text" name="formName"/>
            <label for="address">Flowname</label>
            <input class="form-control" id="form-address" type="text" name="formAddress"/>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" >Save changes</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        </form>
      </div>
    </div>
</div>
</form>

{% endblock content %}


