
{% block modelfullname %} 
<!-- ทำ popup Detail Element -->
  <!-- 1.Modal Full name -->
  <div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog "  role="document">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"><strong>Full Name</strong></h4><hr>


              <!-- Modal body-->
            <div class="model-body">
              <div class="container">
                <div class="row">
                  <div class="col-md-12">            

                            <a href="#basic" class="active btn btn-danger" data-toggle="tab"><h5><strong> Basic </strong></h5></a>
                            <a href="#advance" class="active btn btn-danger" data-toggle="tab"><h5><strong> Advance </strong></h5></a>
                        
                        <div class="tab-content">
                            <div class="tab-pane active" id="basic">
                              <form method="POST">
                                {% csrf_token %}
                                <div class="col-sm-10">
                                  <div class="form-check">
                                    <br>
                                    <input type="checkbox" aria-label="Checkbox for following text input">
                                    <label class="form-check-label" for="exampleRadios1">
                                      <h4><strong>&nbsp;&nbsp;Required</strong></h4>
                                    </label>
                                    <p for="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;User will not be able to proceed without answering this question.</p>
                                  </div>
                                        <p for="title" class=""><font color="#c0c0c0">__________________________________________________________________</font></p>
                                                
                                    <div class="input-group">
                                      <div class="input-group-prepend">
                                        <div class="input-group-text">
                                          <input type="checkbox" aria-label="Checkbox for following text input">
                                          <label for="firstname"><h4><strong>&nbsp;&nbsp;First Name</strong></h4></label><br>
                                          <label for="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Question Label</label>
                                          <input type="text" class="form-control input-lg" id="fullname" name="fullname"value="First Name">
                                        </div>
                                      </div>  
                                    </div>
                                    <div class="input-group">
                                      <div class="input-group-prepend">
                                        <div class="input-group-text">
                                          <input type="checkbox" aria-label="Checkbox for following text input">
                                          <label for="title"><h4><strong>&nbsp;&nbsp;Middle Name</strong></h4></label><br>
                                          <label for="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Question Label</label>
                                          <input type="text" class="form-control input-lg" id="middlename" name="middlename" value="Middle Name">
                                        </div>
                                      </div>  
                                    </div>
                                    <br>
                                    <div class="input-group">
                                      <div class="input-group-prepend">
                                        <div class="input-group-text">
                                          <input type="checkbox" aria-label="Checkbox for following text input">
                                          <label for="title"><h4><strong>&nbsp;&nbsp;Last Name</strong></h4></label><br>
                                          <label for="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Question Label</label>
                                          <input type="text" class="form-control input-lg" id="lastname" name="lastname" value="Last Name">
                                        </div>
                                      </div>  
                                    </div>
                                    <br>
                                        <p for="title" class=""><font color="#c0c0c0">__________________________________________________________________</font></p>
                                    <div class="input-group">
                                      <div class="input-group-prepend">
                                        <div class="input-group-text">
                                          <input type="checkbox" aria-label="Checkbox for following text input">
                                          <label for="title"><h4><strong>&nbsp;&nbsp;Prefix</strong></h4></label><br>
                                          <label for="title">&nbsp;&nbsp;&nbsp;&nbsp;Question Label</label>
                                          <label >&nbsp;&nbsp;</label>
                                          <input type="text" class="form-control input-lg" id="prefix" name="prefix" value="Prefix"><br><br><br><br>
                                          <label >&nbsp;&nbsp;</label>
                                          <label for="title">&nbsp;&nbsp;Question Label</label>
                                          <label >&nbsp;&nbsp;</label>
                                          <input type="text" class="form-control input-lg" id="mr" name="mr"value="Mr."><br>
                                          <label >&nbsp;&nbsp;</label>
                                          <input type="text" class="form-control input-lg" id="mrs" name="mrs" value="Mrs."><br>
                                          <label >&nbsp;&nbsp;</label>
                                          <input type="text" class="form-control input-lg" id="miss" name="miss" value="Miss."><br>
                                          <label >&nbsp;&nbsp;</label><br>
                                          <button type="submit" class="btn btn-success" name = "AddPrefixFullNameBasic"><h5>+Add more option</h5></button>
                                        </div>
                                      </div>  
                                    </div>
                                    <br>
                                        <p for="title" class=""><font color="#c0c0c0">__________________________________________________________________</font></p><br>
                                    <center><button type="submit" class="btn btn-primary" id = "ConfirmFullNameBasic" name = "ConfirmFullNameBasic"><h5><strong>Confirm</strong></h5></button></center><br><br>
                                </div>
                              </form>
                            </div>
                          <div class="tab-pane" id="advance">
                            <form method="POST">
                              {% csrf_token %}
                              <div class="col-sm-10">
                                  <div class="input-group">
                                    <div class="input-group-prepend">
                                      <div class="input-group-text">
                                        <br>
                                        <input type="checkbox" aria-label="Checkbox for following text input">
                                        <label for="fullname"><h4><strong>&nbsp;&nbsp;Placeholder Text</strong></h4></label><br>
                                        <label for="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;First Name</label>
                                        <input type="text" class="form-control input-lg" id="advfullname" name="advfullname"value=" Your First Name"><br><br><br><br>
                                        <label for="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Middle Name</label>
                                        <input type="text" class="form-control input-lg" id="advmiddlename" name="advmiddlename" value="Your Middle Name">
                                        <br><br><br><br>
                                        <label for="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Last Name</label>
                                        <input type="text" class="form-control input-lg" id="advlastname" name="advlastname" value="Your Last Name">
                                      </div>
                                    </div>  
                                  </div>
                                  <br>
                                      <p for="title" class=""><font color="#c0c0c0">__________________________________________________________________</font></p>
                                  <div class="input-group">
                                    <div class="input-group-prepend">
                                      <div class="input-group-text">
                                        <input type="checkbox" aria-label="Checkbox for following text input">
                                        <label for="fullname"><h4><strong>&nbsp;&nbsp;Custom Error Message</strong></h4></label><br>
                                        <label for="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;First Name</label>
                                        <input type="text" class="form-control input-lg" id="fullname" name="fullname"value=" Please Enter Your First Name"><br><br><br><br>
                                        <label for="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Middle Name</label>
                                        <input type="text" class="form-control input-lg" id="middlename" name="middlename" value="Please Enter Your Middle Name">
                                        <br><br><br><br>
                                        <label for="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Last Name</label>
                                        <input type="text" class="form-control input-lg" id="lastname" name="lastname" value="Please Enter Your Last Name">
                                      </div>
                                    </div>  
                                  </div>
                                  <br>
                                      <p for="title" class=""><font color="#c0c0c0">__________________________________________________________________</font></p><br>
                                  <center><button type="submit" class="btn btn-primary" name = "ConfirmFullNameAdvanve"><h5><strong>Confirm</strong></h5></button></center><br><br>
                              </div>
                      </form>
                          </div>
                        </div>
                  </div>
                </div>
              </div>
            </div>

        </div>
      </div>

    </div>
  </div>
  {% endblock modelfullname %} 