{% extends 'uppassapp/Base.html' %}
{% load static %}
{% block title %} LOGIN {% endblock title %}

{% block content %}

<form method="POST">
  {% csrf_token %}
  <div class="container-fluid text-left bg-danger">
    <div class="row ">
      <div class="col-sm-4 bg-info ">
        </div>
      <div class="col-sm-4 bg-info ">
        <div class="col-sm-12 bg-info">
          <div class="card mb-3 rounded-2 shadow-sm border-light">
            <div class="card-header py-3 text-bg-light border-light">
              <ul class="nav nav-pills nav-stacked">
                <br><br>
                <center><li class="active "><img src="{% static 'image/malee.png' %}" alt="" width="80" height="60">&nbsp;&nbsp;Khanthamalee</a></li></center>
              </ul>
              <br><br>
              <center><h3><strong>Login</strong></h3></center><br>
              {% csrf_token %}
              {% if message %}
              <div class="alert alert-danger" role="alert">
                &nbsp;{{message}}
              </div>
              {% endif %}
              <div class="form-group">
                <label for="username">Username:</label><br>
                <input type="text" class="form-control input-lg" id="username" name="username">
              </div>
              <br>

              <div class="form-group">
                <label for="password">Password:</label><br>
                <input type="password" class="form-control input-lg" id="password" name="password">
              </div>
                <br>

              <center><button type="submit" class="btn btn-success">Login</button><br>
                <br>
              <a class="py-2 text-primary text-decoration-none " href="{% url 'Register-page' %}">Register |</a>
              <a class="py-2 text-danger text-decoration-none " href="{% url 'reset-password' %}">Reset Password</a></center>
              <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>  
    
    <!-- <button class="open-button" onclick="openForm()">Open Form</button>
  <form method="POST"> 
    <div class="form-popup" id="myForm">
      <form class="form-container">

        
        {% if message %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <h8>&nbsp;{{message}}</h8> 
            <i class="fa fa-times fa-2x" style=" color:red;"></i>
        </div>
        {% endif %}
        <h1>Login</h1>
        <label for="username"><b>username</b></label>
        <input type="text" placeholder="Enter Email" name="username" required>
    
        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>
    
        <button type="submit" class="btn">Login</button>
        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
      </form>
    </div>
  </form>
    
    <script>
    function openForm() {
      document.getElementById("myForm").style.display = "block";
    }
    
    function closeForm() {
      document.getElementById("myForm").style.display = "none";
    }
    </script> -->

{% endblock content %}