{% extends 'uppassapp/Base.html' %}
{% load static %}
{% block title %} Profile {% endblock title %}

{% block content %}

<form method="POST">
  <div class="container-fluid text-left bg-danger">
    <div class="row ">
      <div class="col-sm-4 bg-info ">
      </div>
      <div class="col-sm-4 bg-info ">
        <div class="col-sm-12 bg-info">
          <div class="card mb-3 rounded-2 shadow-sm border-light">
            <div class="card-header py-3 text-bg-light border-light">
                  <ul class="nav nav-pills nav-stacked">
                    <br><br>
                    <center><li class="active "><img src="{% static 'image/malee.png' %}" alt="" width="80" height="60">&nbsp;&nbsp;Khanthamalee</a></li></center>
                  </ul><br><br>
              {% if warning %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>{{warning}}</strong> 
                    <i class="fa fa-times fa-2x" style=" color:red;"></i>
                </div>
              {% endif %}
            
                <center><h4><strong class="btn btn-success">Profile</strong></h4></center><br>
            
              {% if user.profile.verified == False %}
            
                <p>'Please confirm the member at your email for 100 point'</p><br>
            
              {% endif %}
                <div class="form-group">
                  <label for="fullname">Fullname :</label><br>
                  <input type="text" class="form-control" id="fullname" name="fullname" value= "{{profile.user.first_name}}" required>
                </div><br>
            
                <div class="form-group">
                  <label for="mobile">Phone :</label><br>
                  <input type="tel" class="form-control" id="mobile" name="mobile" value= "{{profile.mobile}}">
                </div><br>
            
                <div class="form-group">
                  <label for="username">Email :</label><br>
                  <input type="text" class="form-control" id="username" name="username" value= "{{profile.user.username}}" required>
                </div><br><br>
                <h6><strong>Your point : {{profile.point}} </strong></h6><br>
            
                <!-- <center><button type="submit" class="btn btn-success">Edit Profile</button></center> 
                ไว้มีเวลาจะกลับมาทำนะแบบ edit-->
                <br><br><br><br><br><br><br><br>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
            
{% endblock content %}