{% extends 'uppassapp/Base.html' %}
{% load static %}
{% block title %} LOGIN {% endblock title %}

{% block content %}

  
{% if message %}

<h3>{{message}}</h3>
  
    {% else %}
<form method="POST">
  {% csrf_token %}
  <div class="container-fluid text-left bg-danger">
    <div class="row ">
      <div class="col-sm-4 bg-info ">
      </div>
      <div class="col-sm-4 bg-info ">
        <div class="col-sm-12 bg-info">
          <div class="card mb-3 rounded-2 shadow-sm border-light">
            <div class="card-header py-3 text-bg-light border-light">
                  <ul class="nav nav-pills nav-stacked">
                    <br><br>
                    <center><li class="active "><img src="{% static 'image/malee.png' %}" alt="" width="80" height="60">&nbsp;&nbsp;Khanthamalee</a></li></center>
                  </ul><br>
              {% if warning %}
                  <div class="alert alert-warning" role="alert">
                    <strong>{{warning}}</strong> 
                      <i class="fa fa-times fa-2x" style=" color:red;"></i>
                  </div>
              {% endif %}
      
                  <center><h3><strong>Registeration</strong></h3><br></center>
                    <p>if you are member, you can see more details</p>
      
                  <div class="form-group">
                    <label for="fullname">Fullname :</label><br>
                    <input type="text" class="form-control input-lg" id="fullname" name="fullname" required>
                  </div><br>
      
                  <div class="form-group">
                    <label for="mobile">Phone :</label><br>
                    <input type="tel" class="form-control input-lg" id="mobile" name="mobile"placeholder="089-667678"pattern="[0-9]{3}-[0-9]{3}[0-9]{4}">
                  </div><br>
      
                  <div class="form-group">
                    <label for="username">Email :</label><br>
                    <input type="text" class="form-control input-lg" id="username" name="username" required>
                  </div><br>
      
                  <div class="form-group">
                    <label for="password">Password :</label><br>
                    <input type="password" class="form-control input-lg" id="password" name="password" required>
                  </div><br>
      
                  <div class="form-group">
                    <label for="password2">Password(again):</label><br>
                    <input type="password"class="form-control input-lg" id="password2" name="password2" required>
                  </div>
                  <br>
                  <center><button type="submit" class="btn btn-success">Register</button></center><br><br>
                </div>

            </div>
          </div> 
        </div>
      </div>
    </div>
  </div>
</form>
 {% endif %}       
    

{% endblock content %}