{% extends 'uppassapp/Base.html' %}
{% load static %}
{% block title %} Profile {% endblock title %}

{% block content %}

<form method="POST">
    {% csrf_token %}
  <div class="container-fluid text-left bg-danger">
    <div class="row ">
      <div class="col-sm-4 bg-info ">
      </div>
      <div class="col-sm-4 bg-info ">
        <div class="col-sm-12 bg-info">
          <div class="card mb-3 rounded-2 shadow-sm border-light">
            <div class="card-header py-3 text-bg-light border-light">
                <ul class="nav nav-pills nav-stacked">
                    <br><br>
                    <center><li class="active "><img src="{% static 'image/malee.png' %}" alt="" width="80" height="60">&nbsp;&nbsp;Khanthamalee</a></li></center>
                <br><br>
                
                {% csrf_token %}
                {% if error %}
                  <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <h5>{{error}}</h5>
                  </div>
                {% endif %}
                <div class="form-group">
                  <label class =" btn btn-warning" for="resetpassword1">New password :</label><br><br>
                  <input type="password" class="form-control" id="resetpassword1" name="resetpassword1">
                </div>
                <br>
                <div class="form-group">
                  <label class =" btn btn-warning" for="resetpassword2">New password(again) :</label><br><br>
                  <input type="password" class="form-control" id="resetpassword2" name="resetpassword2">
                </div>
                <br>
    
                <center><button type="submit" class="btn btn-danger">Reset newpassword</button><center>
    
                        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
          

                </ul>

          </div>
        </div>
      </div>
    </div>
  </div>
</form>
            
{% endblock content %}