{% extends 'uppassapp/Base.html' %}
{% load static %}
{% block title %} Profile {% endblock title %}

{% block content %}

<form method="POST">
    {% csrf_token %}
  <div class="container-fluid text-left bg-danger">
    <div class="row ">
      <div class="col-sm-4 bg-info ">
      </div>
      <div class="col-sm-4 bg-info ">
        <div class="col-sm-12 bg-info">
          <div class="card mb-3 rounded-2 shadow-sm border-light">
            <div class="card-header py-3 text-bg-light border-light">
                <ul class="nav nav-pills nav-stacked">
                    <br><br>
                    <center><li class="active "><img src="{% static 'image/malee.png' %}" alt="" width="80" height="60">&nbsp;&nbsp;Khanthamalee</a></li></center>
                <br><br>
                
                      {% csrf_token %}
          
                        {% if message %}
                        <div class="alert alert-warning" role="alert">
                            <h5>{{message}}</h5>
                          </div>
                        {% endif %}
                        {% if error %}
                        <div class="alert alert-warning" role="alert">
                            <h5>{{error}}</h5>
                          </div>
                        {% endif %}
                      <div class="form-group">
                        <label class =" btn btn-warning" for="username">Your E-mail :</label><br><br>
                        <input type="text" class="form-control" id="username" name="username">
                      </div>
                      <br>
          
                      <center><button type="submit" class="btn btn-danger">Resetpassword</button><center>
                        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
          

                </ul>

          </div>
        </div>
      </div>
    </div>
  </div>
</form>
            
{% endblock content %}