{% extends 'uppassapp/Base.html' %}
{% load static %}
{% block title %} Profile {% endblock title %}

{% block content %}

<form method="POST">
    {% csrf_token %}
  <div class="container-fluid text-left bg-danger">
    <div class="row ">
      <div class="col-sm-4 bg-info ">
      </div>
      <div class="col-sm-4 bg-info ">
        <div class="col-sm-12 bg-info">
          <div class="card mb-3 rounded-2 shadow-sm border-light">
            <div class="card-header py-3 text-bg-light border-light">
                <ul class="nav nav-pills nav-stacked">
                    <br><br>
                    <center><li class="active "><img src="{% static 'image/malee.png' %}" alt="" width="80" height="60">&nbsp;&nbsp;Khanthamalee</a></li></center>
                <br><br>
                
                  
                  {% if error %}
                  <div class="alert alert-danger" role="alert">
                      <h5>{{error}}</h5>
                    </div>
                   {% else %} 
                   <div class="alert alert-success" role="alert"><h4> You already confirm the member finished.</h4><p> Welcome to n.Khanthamalee Website.</p></div>
      
                   {% endif %} 

                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                <br><br><br><br><br><br><br>
                </ul>

          </div>
        </div>
      </div>
    </div>
  </div>
</form>
            
{% endblock content %}