
{% load static %}
{% block content1 %}

<!-- ทำ popup Detail Element -->
  <!-- 1.Modal Full name -->

  <div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog ">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"><strong>Full Name</strong></h4><hr>

            <center>
              <!-- Modal body-->
            <div class="model-body">
              <button class="modal-title btn btn-primary" name = "Basic"class="tablink" onclick="openPage('basic')"><h5><strong>&nbsp;&nbsp;Basic&nbsp;&nbsp;</strong></h5></button>
              <button class="modal-title btn btn-primary" name = "Advance" class="tablink" onclick="openPage('advance')"><h5><strong>&nbsp;&nbsp;Advance&nbsp;&nbsp;</strong></h5></button>
            </center>
            </div>
        
          <div id="basic" class="container tabcontent model-body">
            <form method="POST">
              {% csrf_token %}
              <div class="col-sm-11">
                <div class="form-check">
                  <input type="checkbox" aria-label="Checkbox for following text input">
                  <label class="form-check-label" for="exampleRadios1">
                    <h4><strong>&nbsp;&nbsp;Required</strong></h4>
                  </label>
                  <p for="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;User will not be able to proceed without answering this question.</p>
                <br> 
                </div>
                              
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <input type="checkbox" aria-label="Checkbox for following text input">
                        <label for="firstname"><h4><strong>&nbsp;&nbsp;First Name</strong></h4></label>
                        <p for="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Question Label</p>
                        <input type="text" class="form-control input-lg" id="fullname" name="fullname"value="First Name">
                      </div>
                    </div>  
                  </div>
                  <br>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <input type="checkbox" aria-label="Checkbox for following text input">
                        <label for="title"><h4><strong>&nbsp;&nbsp;Middle Name</strong></h4></label><br>
                        <p for="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Question Label</p>
                        <input type="text" class="form-control input-lg" id="middlename" name="middlename" value="Middle Name">
                      </div>
                    </div>  
                  </div>
                  <br>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <input type="checkbox" aria-label="Checkbox for following text input">
                        <label for="title"><h4><strong>&nbsp;&nbsp;Last Name</strong></h4></label><br>
                        <p for="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Question Label</p>
                        <input type="text" class="form-control input-lg" id="lastname" name="lastname" value="Last Name">
                      </div>
                    </div>  
                  </div>
                  <br>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <input type="checkbox" aria-label="Checkbox for following text input">
                        <label for="title"><h4><strong>&nbsp;&nbsp;Prefix</strong></h4></label><br>
                        <p for="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Question Label</p>
                        <input type="text" class="form-control input-lg" id="prefix" name="prefix" value="Prefix"><br><br><br>
                        <p for="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Option Text</p>
                        <input type="text" class="form-control input-lg" id="mr" name="mr"value="Mr."><br><br><br>
                        <input type="text" class="form-control input-lg" id="mrs" name="mrs" value="Mrs."><br><br><br>
                        <input type="text" class="form-control input-lg" id="miss" name="miss" value="Miss."><br><br><br>
                        <button type="submit" class="btn btn-info" name = "AddPrefixFullNameBasic"><h5><strong>+Add more option</strong></h5></button>
                      </div>
                    </div>  
                  </div>
                  <br>
                  <center><button type="submit" class="btn btn-primary" name = "ConfirmFullNameBasic"><h5><strong>Confirm</strong></h5></button></center><br><br>
              </div>
            </form>
          </div>

          <div id="advance" class="container tabcontent">
            <form method="POST">
              {% csrf_token %}
              <div class="col-sm-11">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <input type="checkbox" aria-label="Checkbox for following text input">
                        <label for="fullname"><h4><strong>&nbsp;&nbsp;Placeholder Text</strong></h4></label><br>
                        <p for="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;First Name</p>
                        <input type="text" class="form-control input-lg" id="fullname" name="fullname"value=" Your First Name"><br><br><br>
                        <p for="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Middle Name</p>
                        <input type="text" class="form-control input-lg" id="middlename" name="middlename" value="Your Middle Name">
                        <br><br><br>
                        <p for="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Last Name</p>
                        <input type="text" class="form-control input-lg" id="lastname" name="lastname" value="Your Last Name">
                      </div>
                    </div>  
                  </div>
                  <br>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <input type="checkbox" aria-label="Checkbox for following text input">
                        <label for="fullname"><h4><strong>&nbsp;&nbsp;Custom Error Message</strong></h4></label><br>
                        <p for="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;First Name</p>
                        <input type="text" class="form-control input-lg" id="fullname" name="fullname"value=" Please Enter Your First Name"><br><br><br>
                        <p for="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Middle Name</p>
                        <input type="text" class="form-control input-lg" id="middlename" name="middlename" value="Please Enter Your Middle Name">
                        <br><br><br>
                        <p for="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Last Name</p>
                        <input type="text" class="form-control input-lg" id="lastname" name="lastname" value="Please Enter Your Last Name">
                      </div>
                    </div>  
                  </div>
                  <br>
                  <center><button type="submit" class="btn btn-primary" name = "ConfirmFullNameAdvanve"><h5><strong>Confirm</strong></h5></button></center><br><br>
              </div>
            </form>
          </div>
          <script>
            function openPage(pageName,elmnt,color) {
              var i, tabcontent, tablinks;
              tabcontent = document.getElementsByClassName("tabcontent");
              for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
              }
              tablinks = document.getElementsByClassName("tablink");
              for (i = 0; i < tablinks.length; i++) {
                tablinks[i].style.backgroundColor = "";
              }
              document.getElementById(pageName).style.display = "block";
              elmnt.style.backgroundColor = color;
            }
            
            // Get the element with id="defaultOpen" and click on it
            document.getElementById("defaultOpen").click();
            </script>
               

        </div>
      </div>
    </div>
  </div>
  {% endblock content1 %}